#showcaseImg {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/img8.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; }
  @media only screen and (max-width: 425px) {
    #showcaseImg {
      height: 40vh; } }

.showLogo {
  display: inline-flex;
  padding-left: 60px;
  padding-top: 40px; }
  .showLogo .hmeLink img {
    height: 150px;
    width: 300px; }
  @media only screen and (max-width: 425px) {
    .showLogo {
      display: none; } }

#mainNav {
  opacity: 0;
  width: 0px; }
  @media only screen and (max-width: 425px) {
    #mainNav {
      margin-right: 0;
      opacity: 1;
      display: flex;
      flex-direction: row;
      justify-content: unset;
      align-items: unset;
      height: 84px; } }

.navSet {
  float: right;
  width: 300px;
  height: 100vh;
  background-color: #00a2e848; }
  .navSet #closeBtn {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
    color: #e7e7e7;
    transition: 0.6s; }
    @media only screen and (max-width: 425px) {
      .navSet #closeBtn {
        display: none; } }
  .navSet #closeBtn:hover {
    color: #ff4500; }
  .navSet .logo {
    padding-top: 40px;
    padding-left: 20px; }
    .navSet .logo img {
      height: 200px;
      width: 260px; }
      @media only screen and (max-width: 425px) {
        .navSet .logo img {
          height: 70px;
          width: 70px; } }
    @media only screen and (max-width: 425px) {
      .navSet .logo {
        padding-top: 0px;
        padding-left: 10px; } }
  .navSet #menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: unset;
    height: 320px;
    text-align: center;
    padding-top: 30px; }
    .navSet #menu a {
      font-size: 26px;
      font-weight: lighter;
      color: #e7e7e7;
      text-transform: capitalize;
      width: 160px;
      margin-left: 80px;
      transition: 0.6s; }
      @media only screen and (max-width: 425px) {
        .navSet #menu a {
          font-size: 14px;
          margin-left: 10px; } }
    .navSet #menu a:hover {
      color: #ff4500; }
    @media only screen and (max-width: 425px) {
      .navSet #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
        padding-top: 10px;
        height: 40px;
        width: 306px; } }
  .navSet .appointmentBtn {
    width: 220px;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px; }
    .navSet .appointmentBtn a {
      background-color: #ff4500;
      font-size: 18px;
      color: #e7e7e7;
      font-weight: lighter;
      text-transform: capitalize;
      padding: 10px 20px 10px 20px;
      transition: 0.6s; }
    .navSet .appointmentBtn a:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }
    @media only screen and (max-width: 425px) {
      .navSet .appointmentBtn {
        display: none; } }
  @media only screen and (max-width: 425px) {
    .navSet {
      float: none;
      background-color: transparent;
      width: 100%; } }

#openBtn {
  font-size: 60px;
  color: #ff4500;
  margin-right: 60px;
  float: right;
  opacity: 1;
  transition-duration: 0.6s; }
  @media only screen and (max-width: 425px) {
    #openBtn {
      opacity: 0; } }

#openBtn:hover {
  color: #00a2e8; }

#introHead {
  padding-top: 280px;
  padding-left: 60px; }
  #introHead h1 {
    font-size: 50px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #e7e7e7; }
    @media only screen and (max-width: 425px) {
      #introHead h1 {
        font-size: 20px; } }
  #introHead p {
    font-size: 24px;
    color: #e7e7e7; }
    @media only screen and (max-width: 425px) {
      #introHead p {
        font-size: 12px; } }
  @media only screen and (max-width: 425px) {
    #introHead {
      padding-top: 40px;
      padding-left: 10px; } }

#introBtn {
  padding-top: 30px;
  padding-left: 60px; }
  #introBtn a {
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #e7e7e7;
    transition: 0.6s; }
    @media only screen and (max-width: 425px) {
      #introBtn a {
        font-size: 14px;
        padding: 5px 10px 5px 10px; } }
  #introBtn a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }
  #introBtn a:nth-last-child(1) {
    margin-left: 20px; }
  @media only screen and (max-width: 425px) {
    #introBtn {
      padding-left: 10px; } }

#globalFoot {
  width: 100%;
  background-color: #e4e4e4;
  padding: 10px; }

.copyRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset; }
  .copyRight p {
    padding-left: 60px; }
    @media only screen and (max-width: 425px) {
      .copyRight p {
        font-size: 12px;
        padding-left: 10px; } }

.phoneNum h3 {
  padding-right: 60px; }
  @media only screen and (max-width: 425px) {
    .phoneNum h3 {
      font-size: 12px;
      padding-right: 10px; } }

.headContain {
  height: 30vh;
  max-width: 100%;
  background-color: #fff;
  z-index: 99; }
  .headContain .headerSocial {
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    height: 40px;
    border-bottom: 1px solid #b0b0b0; }
    .headContain .headerSocial .address {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-left: 60px;
      margin-top: 10px; }
      .headContain .headerSocial .address .fa-home {
        font-size: 20px;
        color: #303030; }
        @media only screen and (max-width: 425px) {
          .headContain .headerSocial .address .fa-home {
            font-size: 18px; } }
      .headContain .headerSocial .address h4 {
        font-weight: lighter;
        font-size: 20px;
        color: #505050;
        margin-left: 10px; }
        @media only screen and (max-width: 768px) {
          .headContain .headerSocial .address h4 {
            font-size: 16px; } }
        @media only screen and (max-width: 425px) {
          .headContain .headerSocial .address h4 {
            font-size: 14px; } }
      @media only screen and (max-width: 768px) {
        .headContain .headerSocial .address {
          margin-left: 10px; } }
      @media only screen and (max-width: 425px) {
        .headContain .headerSocial .address {
          margin-left: 50px; } }
    .headContain .headerSocial .email {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-left: 50px;
      margin-top: 10px; }
      .headContain .headerSocial .email .fa-envelope {
        font-size: 20px;
        color: #303030; }
      .headContain .headerSocial .email h4 {
        font-family: "Open Sans", sans-serif;
        margin-left: 10px;
        font-size: 20px;
        color: #303030;
        font-weight: lighter;
        margin-top: -4px; }
        @media only screen and (max-width: 768px) {
          .headContain .headerSocial .email h4 {
            font-size: 16px; } }
      @media only screen and (max-width: 425px) {
        .headContain .headerSocial .email {
          margin-left: 110px; } }
    @media only screen and (max-width: 425px) {
      .headContain .headerSocial {
        flex-direction: column;
        text-align: center;
        height: 70px; } }
  .headContain .headerContact {
    height: 18vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset; }
    .headContain .headerContact .logoContain {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-left: 60px; }
      @media only screen and (max-width: 768px) {
        .headContain .headerContact .logoContain {
          margin-left: 10px; } }
    .headContain .headerContact .logo {
      height: 140px;
      width: 300px; }
      @media only screen and (max-width: 1020px) {
        .headContain .headerContact .logo {
          width: 200px; } }
      @media only screen and (max-width: 768px) {
        .headContain .headerContact .logo {
          width: 140px; } }
    .headContain .headerContact h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: lighter;
      padding-top: 20px;
      color: #303030;
      letter-spacing: 4px; }
    .headContain .headerContact p {
      display: block;
      font-size: 20px;
      color: #303030;
      letter-spacing: 10px; }
    .headContain .headerContact .miniContact {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-top: 40px;
      margin-right: 90px; }
      .headContain .headerContact .miniContact .phone {
        display: flex;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset; }
        .headContain .headerContact .miniContact .phone .fa-phone {
          font-size: 30px;
          color: #303030;
          padding-top: 6px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .phone .fa-phone {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .phone .contactText h3 {
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: lighter;
          text-transform: capitalize;
          color: #303030;
          padding-left: 14px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .phone .contactText h3 {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .phone .contactText h4 {
          color: #ff4500;
          padding-left: 14px;
          letter-spacing: 2px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .phone .contactText h4 {
              font-size: 14px; } }
        @media only screen and (max-width: 768px) {
          .headContain .headerContact .miniContact .phone {
            padding-left: 10px; } }
      .headContain .headerContact .miniContact .opHours {
        display: flex;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        margin-left: 30px; }
        .headContain .headerContact .miniContact .opHours .fa-clock {
          font-size: 30px;
          color: #303030;
          padding-top: 6px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .opHours .fa-clock {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .opHours h3 {
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: lighter;
          text-transform: capitalize;
          color: #303030;
          padding-left: 14px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .opHours h3 {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .opHours h4 {
          color: #ff4500;
          padding-left: 14px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .opHours h4 {
              font-size: 14px; } }
      .headContain .headerContact .miniContact .aptBtn {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: lighter;
        color: #f7f7f7;
        height: 60px;
        padding: 16px;
        text-transform: capitalize;
        background-color: #ff4500;
        margin-top: -5px;
        margin-right: -20px;
        margin-left: 20px;
        transition: 0.6s; }
        @media only screen and (max-width: 768px) {
          .headContain .headerContact .miniContact .aptBtn {
            margin-right: 0px;
            margin-left: 10px;
            font-size: 15px; } }
      .headContain .headerContact .miniContact .aptBtn:hover {
        box-shadow: 5px 5px 10px black;
        background-color: #00a2e8; }
      @media only screen and (max-width: 1020px) {
        .headContain .headerContact .miniContact {
          margin-right: 22px; } }
    @media only screen and (max-width: 425px) {
      .headContain .headerContact {
        display: none; } }
  .headContain .nav {
    height: 50px;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-left: 60px;
    background-color: #ff4500; }
    .headContain .nav a {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #f7f7f7;
      text-transform: capitalize;
      margin-left: 30px; }
      @media only screen and (max-width: 425px) {
        .headContain .nav a {
          margin-left: 20px; } }
    .headContain .nav a:hover {
      color: #00a2e8; }
    @media only screen and (max-width: 768px) {
      .headContain .nav {
        padding-left: 0px; } }
  @media only screen and (max-width: 425px) {
    .headContain {
      height: 15vh; } }

#trustSection {
  height: auto;
  width: 100%; }

.trustContent {
  height: 70vh;
  width: 70%;
  margin-top: 60px;
  margin-left: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    .trustContent {
      margin-left: 170px; } }
  @media only screen and (max-width: 1020px) {
    .trustContent {
      margin-left: 160px; } }
  @media only screen and (max-width: 768px) {
    .trustContent {
      margin-left: 120px; } }
  @media only screen and (max-width: 600px) {
    .trustContent {
      margin-left: 90px; } }
  @media only screen and (max-width: 425px) {
    .trustContent {
      margin-left: 70px; } }
  .trustContent .trustPhoto {
    height: 70vh;
    width: 50%; }
    @media only screen and (max-width: 425px) {
      .trustContent .trustPhoto {
        display: none; } }
    .trustContent .trustPhoto img {
      height: 100%;
      width: 100%; }
  .trustContent .trustText {
    background-color: white;
    border: 4px solid #f5f5f5;
    height: 100%;
    width: 50%;
    text-align: center;
    padding-top: 60px;
    box-shadow: 4px 4px 10px #30303092; }
    @media only screen and (max-width: 768px) {
      .trustContent .trustText {
        padding-top: 20px; } }
    @media only screen and (max-width: 425px) {
      .trustContent .trustText {
        width: 100%;
        padding-top: 60px; } }
    .trustContent .trustText h3 {
      font-size: 30px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #303030; }
      @media only screen and (max-width: 1020px) {
        .trustContent .trustText h3 {
          font-size: 24px; } }
      @media only screen and (max-width: 425px) {
        .trustContent .trustText h3 {
          font-size: 20px; } }
    .trustContent .trustText .subTitle {
      font-size: 20px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #ff4500;
      padding-top: 10px; }
    .trustContent .trustText .trustDesc1 {
      font-size: 18px;
      width: 90%;
      margin-top: 20px;
      margin-left: 20px; }
      @media only screen and (max-width: 600px) {
        .trustContent .trustText .trustDesc1 {
          font-size: 16px;
          margin-left: 10px; } }
    .trustContent .trustText .trustDesc2 {
      font-size: 18px;
      width: 90%;
      margin-top: 20px;
      margin-left: 20px; }
      @media only screen and (max-width: 600px) {
        .trustContent .trustText .trustDesc2 {
          font-size: 16px;
          margin-left: 10px; } }
    .trustContent .trustText .fa-comment {
      padding-top: 30px;
      font-size: 30px;
      color: #ff4500;
      transition: 0.6s; }
    .trustContent .trustText .fa-comment:hover {
      color: #00a2e8; }
    .trustContent .trustText .emailLink {
      padding-top: 20px; }
      .trustContent .trustText .emailLink a {
        font-size: 20px;
        font-weight: lighter;
        color: #303030;
        transition: 0.6s; }
        @media only screen and (max-width: 600px) {
          .trustContent .trustText .emailLink a {
            font-size: 14px; } }
      .trustContent .trustText .emailLink a:hover {
        color: #00a2e8; }

#careTypeContain {
  height: 20vh;
  width: 100%; }
  #careTypeContain .careRow {
    height: 20vh;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 270px;
    overflow-y: hidden; }
    @media only screen and (max-width: 1200px) {
      #careTypeContain .careRow {
        margin-left: 220px; } }
    @media only screen and (max-width: 1020px) {
      #careTypeContain .careRow {
        margin-left: 210px; } }
    @media only screen and (max-width: 768px) {
      #careTypeContain .careRow {
        margin-left: 160px; } }
    @media only screen and (max-width: 600px) {
      #careTypeContain .careRow {
        margin-left: 100px; } }
  #careTypeContain .careType {
    text-align: center; }
    #careTypeContain .careType #careIcon {
      font-size: 40px;
      color: #ff4500; }
    #careTypeContain .careType h3 {
      font-size: 24px;
      text-transform: capitalize;
      font-weight: lighter;
      color: #303030; }
      @media only screen and (max-width: 768px) {
        #careTypeContain .careType h3 {
          font-size: 22px; } }
      @media only screen and (max-width: 600px) {
        #careTypeContain .careType h3 {
          font-size: 18px; } }
    #careTypeContain .careType .readMore a {
      font-size: 18px;
      color: #ff4500;
      text-transform: capitalize;
      transition: 0.6s; }
    #careTypeContain .careType .readMore a:hover {
      color: #00a2e8; }

.contactShowcase {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/img10.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vh;
  width: 100%; }
  @media only screen and (max-width: 425px) {
    .contactShowcase {
      background-attachment: unset;
      height: 40vh; } }
  .contactShowcase .contactText {
    padding-top: 200px;
    text-align: center; }
    @media only screen and (max-width: 425px) {
      .contactShowcase .contactText {
        padding-top: 90px; } }
    .contactShowcase .contactText h2 {
      font-size: 40px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #e7e7e7; }
      @media only screen and (max-width: 425px) {
        .contactShowcase .contactText h2 {
          font-size: 30px; } }
    .contactShowcase .contactText #conClick {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7;
      text-transform: capitalize;
      background-color: #ff4500;
      padding: 10px 20px 10px 20px;
      margin-top: 40px;
      margin-left: 630px;
      width: 160px;
      transition: 0.6s;
      cursor: pointer; }
      @media only screen and (max-width: 1200px) {
        .contactShowcase .contactText #conClick {
          margin-left: 510px; } }
      @media only screen and (max-width: 1020px) {
        .contactShowcase .contactText #conClick {
          margin-left: 430px; } }
      @media only screen and (max-width: 768px) {
        .contactShowcase .contactText #conClick {
          margin-left: 300px; } }
      @media only screen and (max-width: 600px) {
        .contactShowcase .contactText #conClick {
          margin-left: 210px; } }
      @media only screen and (max-width: 425px) {
        .contactShowcase .contactText #conClick {
          margin-left: 140px; } }
    .contactShowcase .contactText #conClick:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }

#contactBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -120px; }
  @media only screen and (max-width: 600px) {
    #contactBar {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 0px; } }
  #contactBar .block {
    height: 300px;
    width: 300px;
    border: 2px solid #a5a5a52a;
    background-color: #f9f9f9;
    text-align: left;
    overflow: hidden; }
    #contactBar .block .conRowIcon {
      font-size: 100px;
      color: #00a2e8;
      margin-top: 10px;
      margin-left: 70px;
      padding: 20px;
      border: 6px solid #00a2e8;
      border-radius: 100px; }
      @media only screen and (max-width: 768px) {
        #contactBar .block .conRowIcon {
          margin-left: 50px; } }
    #contactBar .block .conTextContain {
      height: 130px;
      background-color: #fff; }
      #contactBar .block .conTextContain h3 {
        font-size: 30px;
        font-weight: lighter;
        color: #303030;
        text-transform: capitalize;
        border-top: 4px solid #ff4500;
        margin-top: 30px;
        padding-top: 10px;
        padding-left: 20px; }
      #contactBar .block .conTextContain p {
        font-size: 18px;
        font-weight: lighter;
        color: #303030;
        width: 240px;
        padding-top: 4px;
        padding-left: 20px; }
  #contactBar .blockOne,
  #contactBar .blockTwo,
  #contactBar .blockThree {
    opacity: 0; }

.bestCareContain {
  height: auto;
  width: 100%;
  margin-top: -160px; }
  @media only screen and (max-width: 600px) {
    .bestCareContain {
      margin-top: -860px; } }
  .bestCareContain #bestCareContent {
    height: 70vh;
    width: 70%;
    margin-top: 40px;
    margin-left: 220px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 1200px) {
      .bestCareContain #bestCareContent {
        margin-left: 170px; } }
    @media only screen and (max-width: 1020px) {
      .bestCareContain #bestCareContent {
        margin-left: 160px; } }
    @media only screen and (max-width: 768px) {
      .bestCareContain #bestCareContent {
        margin-left: 120px; } }
    @media only screen and (max-width: 600px) {
      .bestCareContain #bestCareContent {
        margin-left: 90px; } }
    @media only screen and (max-width: 425px) {
      .bestCareContain #bestCareContent {
        margin-left: 70px; } }
    .bestCareContain #bestCareContent .careList {
      background-color: #fff;
      border: 4px solid #f5f5f5;
      height: 100%;
      width: 50%;
      box-shadow: -2px 2px 10px #30303092; }
      @media only screen and (max-width: 425px) {
        .bestCareContain #bestCareContent .careList {
          width: 100%; } }
    .bestCareContain #bestCareContent .bestCareIntro {
      padding-top: 60px;
      padding-left: 60px; }
      @media only screen and (max-width: 1020px) {
        .bestCareContain #bestCareContent .bestCareIntro {
          padding-left: 0px; } }
      @media only screen and (max-width: 768px) {
        .bestCareContain #bestCareContent .bestCareIntro {
          padding-top: 40px; } }
      @media only screen and (max-width: 425px) {
        .bestCareContain #bestCareContent .bestCareIntro {
          padding-top: 70px; } }
      .bestCareContain #bestCareContent .bestCareIntro h1 {
        font-size: 28px;
        font-weight: lighter;
        text-transform: capitalize;
        color: #303030;
        text-align: center; }
        @media only screen and (max-width: 1020px) {
          .bestCareContain #bestCareContent .bestCareIntro h1 {
            font-size: 24px; } }
        @media only screen and (max-width: 768px) {
          .bestCareContain #bestCareContent .bestCareIntro h1 {
            font-size: 20px; } }
  .bestCareContain .numberSpace {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    padding-top: 30px; }
  .bestCareContain .listNum {
    padding-right: 10px; }
    .bestCareContain .listNum h2 {
      font-size: 30px;
      color: #ff4500; }
  .bestCareContain .listContent {
    width: 90%; }
    .bestCareContain .listContent h3 {
      font-size: 22px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize; }
      @media only screen and (max-width: 768px) {
        .bestCareContain .listContent h3 {
          font-size: 20px; } }
    @media only screen and (max-width: 768px) {
      .bestCareContain .listContent p {
        font-size: 14px; } }
  .bestCareContain .bestCarePhoto {
    height: 70vh;
    width: 50%; }
    @media only screen and (max-width: 425px) {
      .bestCareContain .bestCarePhoto {
        display: none; } }
    .bestCareContain .bestCarePhoto img {
      height: 100%;
      width: 100%; }

#quickMesContain {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/img12.jpeg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  margin-top: 60px; }

.mesText {
  padding-top: 100px;
  text-align: center; }
  .mesText h1 {
    font-size: 30px;
    font-weight: lighter;
    color: #e7e7e7;
    text-transform: capitalize; }
  .mesText p {
    font-size: 18px;
    width: 100%;
    color: #e7e7e7; }

.mesLink {
  margin-top: 20px; }
  .mesLink a {
    font-size: 18px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #e7e7e7;
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
    transition: 0.6s; }
  .mesLink a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }

.aboutTitle {
  text-align: center;
  margin-top: 60px; }
  .aboutTitle h1 {
    font-size: 30px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize; }

.linkRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  margin-top: 20px;
  margin-left: 410px; }
  @media only screen and (max-width: 1200px) {
    .linkRow {
      margin-left: 300px; } }
  @media only screen and (max-width: 1020px) {
    .linkRow {
      margin-left: 220px; } }
  @media only screen and (max-width: 768px) {
    .linkRow {
      margin-left: 80px; } }
  @media only screen and (max-width: 600px) {
    .linkRow {
      margin-left: 0px; } }
  @media only screen and (max-width: 425px) {
    .linkRow {
      display: flex;
      flex-direction: row;
      justify-content: unset;
      align-items: center;
      margin-left: 12px;
      width: 96%; } }
  .linkRow h3 {
    font-size: 20px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize;
    transition: 0.6s;
    cursor: pointer; }
    @media only screen and (max-width: 425px) {
      .linkRow h3 {
        font-size: 15px;
        padding-left: 10px; } }
  .linkRow h3:hover {
    color: #ff4500; }

.linkContent {
  height: auto;
  width: 100%; }

#aboutus,
#ourapproach,
#weoffer,
#wework {
  height: 70vh;
  width: 70%;
  margin-top: 40px;
  margin-left: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    #aboutus,
    #ourapproach,
    #weoffer,
    #wework {
      margin-left: 170px; } }
  @media only screen and (max-width: 1020px) {
    #aboutus,
    #ourapproach,
    #weoffer,
    #wework {
      margin-left: 160px; } }
  @media only screen and (max-width: 768px) {
    #aboutus,
    #ourapproach,
    #weoffer,
    #wework {
      margin-left: 110px; } }
  @media only screen and (max-width: 600px) {
    #aboutus,
    #ourapproach,
    #weoffer,
    #wework {
      margin-left: 90px; } }
  @media only screen and (max-width: 425px) {
    #aboutus,
    #ourapproach,
    #weoffer,
    #wework {
      margin-left: 60px; } }

.hidden {
  display: none !important; }

.linkContentPhto {
  height: 70vh;
  width: 50%; }
  @media only screen and (max-width: 425px) {
    .linkContentPhto {
      display: none; } }
  .linkContentPhto img {
    height: 100%;
    width: 100%; }

.aboutUsText {
  height: 70vh;
  width: 50%;
  padding-top: 80px;
  padding-left: 10px;
  text-align: center;
  background-color: white;
  border: 4px solid #f5f5f5;
  box-shadow: 2px 2px 10px #30303092; }
  @media only screen and (max-width: 1020px) {
    .aboutUsText {
      padding-top: 40px; } }
  @media only screen and (max-width: 425px) {
    .aboutUsText {
      width: 100%; } }
  .aboutUsText h2 {
    font-size: 24px;
    font-weight: lighter;
    text-transform: capitalize; }
    @media only screen and (max-width: 1020px) {
      .aboutUsText h2 {
        font-size: 20px; } }
  .aboutUsText .aboutDesc {
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    padding-top: 30px;
    margin-left: 15px;
    width: 90%; }
    @media only screen and (max-width: 1020px) {
      .aboutUsText .aboutDesc {
        font-size: 17px; } }
    @media only screen and (max-width: 768px) {
      .aboutUsText .aboutDesc {
        font-size: 14px; } }
  .aboutUsText .aboutDesc2 {
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    padding-top: 30px;
    margin-left: 15px;
    width: 90%; }
    @media only screen and (max-width: 1020px) {
      .aboutUsText .aboutDesc2 {
        font-size: 17px; } }
    @media only screen and (max-width: 768px) {
      .aboutUsText .aboutDesc2 {
        font-size: 14px; } }
  .aboutUsText .moreInfobtn {
    margin-top: 50px; }
    .aboutUsText .moreInfobtn a {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7;
      padding: 10px 20px 10px 20px;
      background-color: #ff4500;
      transition: 0.6s; }
    .aboutUsText .moreInfobtn a:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }

#aslShowcase {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/yellow.jpeg);
  background-size: cover;
  background-position: center;
  background-position: top;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  margin-top: 60px; }
  @media only screen and (max-width: 425px) {
    #aslShowcase {
      background-attachment: unset;
      height: 40vh; } }

.aslContent {
  float: right;
  padding-top: 140px;
  padding-right: 60px; }
  @media only screen and (max-width: 768px) {
    .aslContent {
      padding-right: 10px; } }
  @media only screen and (max-width: 425px) {
    .aslContent {
      float: none;
      padding: 160px 0 0 30px; } }
  .aslContent h1 {
    font-size: 40px;
    font-weight: lighter;
    color: #e7e7e7;
    text-transform: capitalize; }
    @media only screen and (max-width: 1020px) {
      .aslContent h1 {
        font-size: 30px; } }
    @media only screen and (max-width: 768px) {
      .aslContent h1 {
        font-size: 24px; } }
    @media only screen and (max-width: 425px) {
      .aslContent h1 {
        font-size: 18px; } }
  .aslContent p {
    font-size: 20px;
    font-weight: lighter;
    width: 500px;
    color: #e7e7e7; }
    @media only screen and (max-width: 768px) {
      .aslContent p {
        font-size: 17px;
        width: 300px; } }
    @media only screen and (max-width: 425px) {
      .aslContent p {
        font-size: 14px; } }
  .aslContent .aslMoreBtn {
    margin-top: 20px; }
    .aslContent .aslMoreBtn a {
      background-color: #ff4500;
      padding: 10px 20px 10px 20px;
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7;
      transition: 0.6s; }
    .aslContent .aslMoreBtn a:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }

#homeContact {
  height: 70vh;
  width: 100%;
  margin-bottom: 60px; }

.hmeMap {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: 220px; }
  @media only screen and (max-width: 1200px) {
    .hmeMap {
      margin-left: 170px; } }
  @media only screen and (max-width: 768px) {
    .hmeMap {
      margin-left: 110px; } }
  @media only screen and (max-width: 600px) {
    .hmeMap {
      margin-left: 90px; } }
  @media only screen and (max-width: 425px) {
    .hmeMap {
      margin-left: 70px; } }
  .hmeMap #mapLoc {
    height: 100%;
    width: 50%; }
    @media only screen and (max-width: 425px) {
      .hmeMap #mapLoc {
        display: none; } }
  .hmeMap .contactInfo {
    padding-top: 60px;
    text-align: center;
    height: 100%;
    width: 50%;
    background-color: white;
    border: 4px solid #f5f5f5;
    box-shadow: 2px 2px 10px #30303092; }
    @media only screen and (max-width: 425px) {
      .hmeMap .contactInfo {
        width: 100%; } }
  .hmeMap .contactList .contactTitle {
    font-size: 30px;
    font-weight: lighter;
    color: #ff4500;
    text-transform: capitalize;
    width: 100%;
    text-align: center; }
  .hmeMap .contactList .contactFlex {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset; }
    .hmeMap .contactList .contactFlex h3 {
      font-size: 24px; }
      .hmeMap .contactList .contactFlex h3 #contactIcon {
        padding-right: 10px; }
    .hmeMap .contactList .contactFlex p,
    .hmeMap .contactList .contactFlex a {
      font-size: 18px;
      font-weight: lighter;
      color: #303030;
      width: 100%;
      text-align: center; }

.rightChoice {
  height: 40vh;
  width: 100%;
  margin-top: 40px; }
  @media only screen and (max-width: 425px) {
    .rightChoice {
      height: 100%;
      margin-bottom: 40px; } }

.rightTitle {
  text-align: center; }
  .rightTitle h2 {
    font-size: 26px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize; }
    @media only screen and (max-width: 425px) {
      .rightTitle h2 {
        font-size: 24px; } }

.threeFacts {
  height: auto;
  width: 100%; }

.factsRow {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  margin-left: 70px; }
  @media only screen and (max-width: 1020px) {
    .factsRow {
      margin-left: 50px; } }
  @media only screen and (max-width: 1200px) {
    .factsRow {
      margin-left: 40px; } }
  @media only screen and (max-width: 425px) {
    .factsRow {
      flex-direction: column;
      margin-left: 30px; } }

.fact {
  width: 28vw;
  height: 22vh;
  text-align: center;
  background-color: #f5f5f5;
  border: 3px solid #ff4500;
  transition: 0.6s; }
  @media only screen and (max-width: 1020px) {
    .fact {
      width: 26vw; } }
  @media only screen and (max-width: 600px) {
    .fact {
      width: 28vw; } }
  @media only screen and (max-width: 425px) {
    .fact {
      width: 60vw;
      margin-top: 10px; } }
  .fact h3 {
    font-size: 24px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize;
    padding-top: 40px; }
    @media only screen and (max-width: 1020px) {
      .fact h3 {
        padding-top: 20px;
        font-size: 20px; } }
    @media only screen and (max-width: 768px) {
      .fact h3 {
        padding-top: 10px;
        font-size: 18px; } }
    @media only screen and (max-width: 425px) {
      .fact h3 {
        font-size: 20px; } }
  .fact p {
    font-size: 16px;
    font-weight: lighter;
    color: #303030;
    line-height: 24px;
    width: 90%;
    margin-left: 20px; }
    @media only screen and (max-width: 1020px) {
      .fact p {
        font-size: 14px; } }
    @media only screen and (max-width: 768px) {
      .fact p {
        margin-left: 10px;
        line-height: unset; } }
    @media only screen and (max-width: 425px) {
      .fact p {
        font-size: 16px; } }

.fact:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px black;
  background-color: #00a2e8;
  background-color: #f5f5f5; }

.homeVisitShowcase {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/housemeet.jpeg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  background-position: top;
  background-attachment: fixed; }
  @media only screen and (max-width: 425px) {
    .homeVisitShowcase {
      height: 30vh; } }

.visitContent {
  padding-top: 170px;
  text-align: center; }
  .visitContent .visitTitle {
    font-size: 34px;
    font-weight: lighter;
    color: #e7e7e7;
    text-transform: capitalize; }
    @media only screen and (max-width: 425px) {
      .visitContent .visitTitle {
        font-size: 24px; } }
  @media only screen and (max-width: 425px) {
    .visitContent {
      padding-top: 90px; } }

.ourValue {
  width: 100%; }

.ourValuesText {
  text-align: center;
  margin-top: 40px; }
  .ourValuesText h2 {
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize; }
  .ourValuesText p {
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    width: 47%;
    margin-top: 20px;
    margin-left: 360px; }
    @media only screen and (max-width: 1200px) {
      .ourValuesText p {
        margin-left: 320px; } }
    @media only screen and (max-width: 1020px) {
      .ourValuesText p {
        margin-left: 270px; } }
    @media only screen and (max-width: 768px) {
      .ourValuesText p {
        margin-left: 160px;
        width: 60%; } }
    @media only screen and (max-width: 600px) {
      .ourValuesText p {
        width: 80%;
        margin-left: 60px; } }
    @media only screen and (max-width: 425px) {
      .ourValuesText p {
        width: 400px;
        margin-left: 10px; } }

.valuesRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset;
  margin-top: 40px; }
  @media only screen and (max-width: 425px) {
    .valuesRow {
      flex-direction: column;
      margin-left: 90px; } }

.box {
  text-align: center;
  width: 20%;
  border: 3px solid #ff4500;
  padding: 20px;
  background-color: #f5f5f5; }
  @media only screen and (max-width: 425px) {
    .box {
      width: 70%;
      margin-top: 12px;
      padding-top: 20px; } }
  .box #globeStyle {
    font-size: 40px;
    font-weight: lighter; }
    @media only screen and (max-width: 600px) {
      .box #globeStyle {
        font-size: 26px; } }
  .box .valueTitle {
    font-size: 24px;
    font-weight: lighter;
    text-transform: capitalize; }
    @media only screen and (max-width: 600px) {
      .box .valueTitle {
        font-size: 18px; } }
  .box .valuePara {
    font-size: 17px;
    color: #303030; }
    @media only screen and (max-width: 768px) {
      .box .valuePara {
        font-size: 14px; } }

.valueContact {
  margin-top: 40px;
  margin-left: 640px;
  margin-bottom: 40px; }
  @media only screen and (max-width: 1200px) {
    .valueContact {
      margin-left: 530px; } }
  @media only screen and (max-width: 1020px) {
    .valueContact {
      margin-left: 440px; } }
  @media only screen and (max-width: 768px) {
    .valueContact {
      margin-left: 320px; } }
  @media only screen and (max-width: 600px) {
    .valueContact {
      margin-left: 250px; } }
  @media only screen and (max-width: 425px) {
    .valueContact {
      margin-left: 140px; } }
  .valueContact a {
    font-size: 20px;
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
    color: #e7e7e7;
    transition: 0.6s; }
  .valueContact a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }

.serviceContain {
  text-align: center; }
  .serviceContain .serviceIntro {
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #303030;
    padding-top: 40px; }
    @media only screen and (max-width: 425px) {
      .serviceContain .serviceIntro {
        font-size: 24px; } }
  .serviceContain .mainServiceDes {
    font-size: 17px;
    font-weight: lighter;
    width: 50%;
    margin-top: 10px;
    margin-left: 360px; }
    @media only screen and (max-width: 1200px) {
      .serviceContain .mainServiceDes {
        width: 60%;
        margin-left: 240px; } }
    @media only screen and (max-width: 1020px) {
      .serviceContain .mainServiceDes {
        margin-left: 190px; } }
    @media only screen and (max-width: 768px) {
      .serviceContain .mainServiceDes {
        margin-left: 120px;
        width: 70%; } }
    @media only screen and (max-width: 600px) {
      .serviceContain .mainServiceDes {
        width: 90%;
        margin-left: 30px; } }
    @media only screen and (max-width: 425px) {
      .serviceContain .mainServiceDes {
        width: 90%;
        margin-left: 30px;
        font-size: 14px; } }
  .serviceContain .fa-comment {
    font-size: 30px;
    color: #ff4500;
    padding-top: 10px; }
  .serviceContain a {
    font-size: 20px;
    font-weight: lighter;
    color: #303030;
    padding-left: 10px; }
  .serviceContain a:hover {
    color: #00a2e8; }

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 40px;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 1200px) {
    .gridContainer {
      margin-left: 0px; } }
  @media only screen and (max-width: 1020px) {
    .gridContainer {
      margin-left: 30px; } }
  @media only screen and (max-width: 768px) {
    .gridContainer {
      grid-template-columns: auto auto;
      margin-left: 60px; } }
  @media only screen and (max-width: 1200px) {
    .gridContainer {
      margin-left: 0px; } }
  @media only screen and (max-width: 425px) {
    .gridContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 0px; } }

.serviceType {
  height: 300px;
  width: 400px;
  transition: 0.6s;
  z-index: 99;
  overflow: hidden;
  background-color: white;
  border: 2px solid #e7e7e7; }
  .serviceType #gridPhto {
    height: 220px;
    width: 400px;
    transition: 0.6s; }
  .serviceType #gridPhto:hover {
    transform: scale(1.1); }
  @media only screen and (max-width: 1020px) {
    .serviceType {
      width: 300px; } }
  @media only screen and (max-width: 425px) {
    .serviceType {
      margin-top: 20px; } }

.serviceContentContain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset; }
  .serviceContentContain .serviceTitle {
    font-size: 20px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #303030;
    text-align: left;
    padding-top: 16px;
    padding-left: 10px; }
    @media only screen and (max-width: 1020px) {
      .serviceContentContain .serviceTitle {
        font-size: 18px; } }

.serviceLinks {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px; }
  @media only screen and (max-width: 1020px) {
    .serviceLinks {
      margin-left: 0px; } }
  .serviceLinks a {
    font-size: 18px;
    font-weight: lighter;
    color: #e7e7e7;
    background-color: #ff4500;
    transition: 0.6s;
    padding: 10px 20px 10px 20px; }
    @media only screen and (max-width: 1020px) {
      .serviceLinks a {
        padding: 6px;
        font-size: 16px; } }
  .serviceLinks a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }

.portContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset;
  margin-top: 60px;
  margin-left: 70px; }
  @media only screen and (max-width: 1200px) {
    .portContainer {
      margin-left: 20px; } }
  @media only screen and (max-width: 1200px) {
    .portContainer {
      margin-left: 50px; } }
  @media only screen and (max-width: 768px) {
    .portContainer {
      margin-left: 40px; } }
  @media only screen and (max-width: 425px) {
    .portContainer {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      margin-left: 16px; } }

.postPhto {
  overflow: hidden; }
  .postPhto img {
    width: 50vw;
    height: 50vh;
    transition: 0.6s; }
    @media only screen and (max-width: 425px) {
      .postPhto img {
        width: 100%; } }
  .postPhto img:hover {
    transform: scale(1.1); }

.portContent {
  padding-top: 30px;
  width: 50vw; }
  @media only screen and (max-width: 425px) {
    .portContent {
      width: 100%; } }
  .portContent .portTitle {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    color: #ff4500; }
    @media only screen and (max-width: 425px) {
      .portContent .portTitle {
        text-align: center; } }
  .portContent .paraBlockOne,
  .portContent .paraBlockTwo {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    width: 100%; }
    @media only screen and (max-width: 425px) {
      .portContent .paraBlockOne,
      .portContent .paraBlockTwo {
        width: 100%;
        text-align: center; } }
  .portContent .ownerQuoteBlock {
    height: 20vh;
    width: 50vw;
    background-color: #ff4500;
    text-align: center; }
    @media only screen and (max-width: 425px) {
      .portContent .ownerQuoteBlock {
        width: 100%; } }
    .portContent .ownerQuoteBlock .ownerQuote {
      font-size: 24px;
      color: white;
      font-weight: lighter;
      text-transform: capitalize;
      width: 70%;
      margin-left: 120px;
      padding-top: 50px; }
      @media only screen and (max-width: 768px) {
        .portContent .ownerQuoteBlock .ownerQuote {
          margin-left: 50px;
          padding-top: 30px; } }
      @media only screen and (max-width: 600px) {
        .portContent .ownerQuoteBlock .ownerQuote {
          font-size: 20px;
          margin-left: 44px; } }
      @media only screen and (max-width: 425px) {
        .portContent .ownerQuoteBlock .ownerQuote {
          margin-left: 60px;
          font-size: 24px; } }

.rightNav {
  width: 35vw; }
  @media only screen and (max-width: 425px) {
    .rightNav {
      width: 100%; } }
  .rightNav .servIcons {
    height: 50vh;
    width: 35vw;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 50% 50%; }
    @media only screen and (max-width: 425px) {
      .rightNav .servIcons {
        width: 100%;
        margin-left: 6px; } }
    .rightNav .servIcons .icon {
      border: 1px solid #ff4500;
      text-align: center; }
      .rightNav .servIcons .icon .gridIcon {
        font-size: 50px;
        padding-top: 40px;
        color: #00a2e8;
        transition: 0.6s; }
      .rightNav .servIcons .icon .gridIcon:hover {
        color: #ff4500;
        transform: scale(1.1); }
  .rightNav .mreServices {
    height: 50vh;
    width: 100%; }
    .rightNav .mreServices .servThumbnail {
      transition: 0.7s; }
      @media only screen and (max-width: 768px) {
        .rightNav .mreServices .servThumbnail {
          padding-top: 20px; } }
      .rightNav .mreServices .servThumbnail .thumbLink {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
        margin-top: 30px; }
        @media only screen and (max-width: 425px) {
          .rightNav .mreServices .servThumbnail .thumbLink {
            display: flex;
            flex-direction: column;
            justify-content: unset;
            align-items: unset;
            text-align: center;
            margin-left: 10px; } }
        .rightNav .mreServices .servThumbnail .thumbLink img {
          height: 7vh;
          width: 5vw; }
          @media only screen and (max-width: 425px) {
            .rightNav .mreServices .servThumbnail .thumbLink img {
              width: 100%;
              height: 20vh; } }
        .rightNav .mreServices .servThumbnail .thumbLink .servMiniDesc {
          font-size: 18px;
          font-weight: 500;
          color: #303030;
          width: 90%;
          padding-left: 8px; }
          @media only screen and (max-width: 425px) {
            .rightNav .mreServices .servThumbnail .thumbLink .servMiniDesc {
              padding-left: 30px; } }
    .rightNav .mreServices .servThumbnail:hover {
      transform: scale(1.1); }
  .rightNav .visitUs {
    height: 10vh;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5; }
    @media only screen and (max-width: 768px) {
      .rightNav .visitUs {
        margin-top: 130px; } }
    @media only screen and (max-width: 600px) {
      .rightNav .visitUs {
        margin-top: 200px; } }
    @media only screen and (max-width: 425px) {
      .rightNav .visitUs {
        margin-top: 740px;
        margin-left: 9px; } }
    .rightNav .visitUs h2 {
      font-size: 30px;
      font-weight: lighter;
      text-transform: capitalize;
      padding-top: 15px; }
      @media only screen and (max-width: 768px) {
        .rightNav .visitUs h2 {
          font-size: 20px;
          padding-top: 30px; } }
  .rightNav #asideMap {
    height: 35vh;
    width: 100%;
    background-color: black;
    margin-bottom: 20px; }
    @media only screen and (max-width: 768px) {
      .rightNav #asideMap {
        height: 54vh; } }
    @media only screen and (max-width: 425px) {
      .rightNav #asideMap {
        margin-left: 9px; } }

.contactRowContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: center;
  padding-left: 120px; }
  @media only screen and (max-width: 1020px) {
    .contactRowContainer {
      padding-left: 50px; } }
  @media only screen and (max-width: 600px) {
    .contactRowContainer {
      padding-left: 30px; } }
  @media only screen and (max-width: 425px) {
    .contactRowContainer {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      padding-left: 50px; } }

.contactOption {
  width: 30vw;
  height: 24vh;
  padding: 30px;
  text-align: center;
  margin-top: 100px; }
  @media only screen and (max-width: 768px) {
    .contactOption {
      padding: 16px; } }
  @media only screen and (max-width: 600px) {
    .contactOption {
      padding: 24px 4px 4px 4px; } }
  @media only screen and (max-width: 425px) {
    .contactOption {
      width: 90%;
      margin-top: 60px; } }
  .contactOption .optIcon {
    font-size: 30px;
    padding-top: 20px; }
  .contactOption h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 24px; }
    @media only screen and (max-width: 600px) {
      .contactOption h2 {
        font-size: 20px; } }
    @media only screen and (max-width: 425px) {
      .contactOption h2 {
        font-size: 24px; } }
  .contactOption p {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 18px; }
    @media only screen and (max-width: 600px) {
      .contactOption p {
        font-size: 14px; } }
    @media only screen and (max-width: 425px) {
      .contactOption p {
        font-size: 20px;
        width: 100%; } }

.contactAddress,
.contactPgEmail {
  border-right: 2px solid #ff4500; }
  @media only screen and (max-width: 425px) {
    .contactAddress,
    .contactPgEmail {
      border: none; } }

.messageContainer {
  height: 80vh;
  width: 90%;
  margin-top: 120px;
  margin-left: 70px;
  background-color: white;
  border: 4px solid #f5f5f5;
  box-shadow: 0px 2px 10px #30303092;
  position: relative;
  z-index: 100;
  margin-bottom: 40px; }
  @media only screen and (max-width: 1020px) {
    .messageContainer {
      margin-left: 50px; } }
  @media only screen and (max-width: 600px) {
    .messageContainer {
      margin-left: 30px; } }
  @media only screen and (max-width: 425px) {
    .messageContainer {
      margin-left: 24px; } }

.sendMessage {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center; }
  .sendMessage h2 {
    font-family: #303030;
    font-size: 30px;
    font-weight: lighter;
    color: "Open Sans", sans-serif;
    text-transform: capitalize; }
  .sendMessage p {
    font-size: 18px;
    font-weight: lighter;
    color: #ff4500;
    text-transform: capitalize; }

.messageForm {
  margin-top: 100px;
  margin-left: 240px;
  z-index: 99; }
  @media only screen and (max-width: 1020px) {
    .messageForm {
      margin-left: 168px; } }
  @media only screen and (max-width: 768px) {
    .messageForm {
      margin-left: 120px; } }
  @media only screen and (max-width: 600px) {
    .messageForm {
      margin-left: 90px; } }
  @media only screen and (max-width: 425px) {
    .messageForm {
      margin-left: 70px; } }
  .messageForm .input {
    font-size: 20px;
    font-weight: lighter;
    height: 5vh;
    width: 28vw;
    background-color: #f5f5f5;
    border: 4px solid #f5f5f5;
    padding-left: 10px; }
  .messageForm .messageInput {
    font-size: 20px;
    font-weight: lighter;
    padding: 12px 0 0 20px;
    display: block;
    height: 30vh;
    width: 56vw;
    margin-top: 40px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5; }

.submitBtn {
  font-size: 17px;
  font-weight: lighter;
  padding: 10px;
  width: 120px;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.6s; }
  @media only screen and (max-width: 425px) {
    .submitBtn {
      margin-left: 50px; } }

.submitBtn:hover {
  background-color: #ff4500;
  color: #fff;
  box-shadow: 5px 5px 10px black; }

.mapOverlay {
  height: 50vh;
  position: relative;
  z-index: 99;
  background-color: black;
  opacity: 0.4; }

.contMap {
  height: 50vh;
  width: 100%;
  background-color: black;
  margin-top: -400px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style-type: none; }

body {
  background-color: #eeeeee; }

/*# sourceMappingURL=app.css.map */
