/* NAV MENU STARTS HERE */
#menu a:hover{
  color: #4399c1;
}

/* APPOINTMENT BUTTON IN THE HEADER STARTS HERE */
.appointmentBtn a:hover{
  background-color: transparent;
  color: #4399C1;
  border: 1px solid #4399C1;
}
/* INTRO HEAD BUTTONS STARTS HERE */
#introBtn a:hover{
  background-color: transparent;
  color: #4399c1;
  border: 1px solid #4399c1;
}