/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 425px) {
  .aboutTitle h1{
    width: 425px;
    margin-left: -30px;
  }
  .linkRow{
    font-size: 14px;
    padding-left: 218px;
    width: 768px;
  }
  .linkContent{
    margin-left: 650px;
  }
} 

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  #menu a{
    font-size: 18px;
    margin-left: 16px;
  }
  .appointmentBtn{
    margin: 46px 0 0 60px;
  }
  #showcaseImg{
    width: 1220px;
  }
  #introHead{
    padding-top: 428px;
  }
  #trustSection{
    margin-left: 110px;
  }
  #careTypeContain{
    width: 1220px;
  }
  .contactShowcase{
    width: 1220px;
  }
  .contactText{
    padding-top: 196px;
  }
  .contactBar{
    margin-left: 110px;
  }
  .bestCareContain{
    margin-left: 110px;
  }
  .bestCareIntro{
    padding-top: 40px;
  }
  #quickMesContain{
    width: 1220px;
  }
  .mesText p{
    margin-left: 302px;
  }
  .mesLink{
    margin-left: 450px;
  }
  .aboutTitle{
    margin-left: 432px;
  }
  .linkRow{
    padding-left: 218px;
  }
  .linkContent{
    margin-left: 520px;
  }
  .aboutUsText{
    padding-left: 40px;
  }
  .inHomeContainer{
    width: 1220px;
  }
  #aslShowcase{
    background-attachment: unset;
    background-position: top;
    width: 1220px;
  }
  .aslContent{
    padding-left: 660px;
  }
  #homeContact{
    width: 768px;
    margin-left: 200px;
  }
  .contactInfo{
    padding-right: 40px;
  }
  #globalFoot{
    width: 1220px;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #menu a{
    font-size: 18px;
    margin-left: 16px;
  }
  .appointmentBtn{
    margin: 46px 0 0 60px;
  }
  #showcaseImg{
    width: 1220px;
  }
  #introHead{
    padding-top: 428px;
  }
  #trustSection{
    margin-left: 110px;
  }
  #careTypeContain{
    width: 1220px;
  }
  .contactShowcase{
    width: 1220px;
  }
  .contactText{
    padding-top: 196px;
  }
  .contactBar{
    margin-left: 110px;
  }
  .bestCareContain{
    margin-left: 110px;
  }
  .bestCareIntro{
    padding-top: 40px;
  }
  #quickMesContain{
    width: 1220px;
  }
  .mesText p{
    margin-left: 302px;
  }
  .mesLink{
    margin-left: 450px;
  }
  .aboutTitle{
    margin-left: 160px;
  }
  .linkRow{
    padding-left: 200px;
  }
  .linkContent{
    margin-left: 140px;
  }
  .aboutUsText{
    padding-left: 40px;
  }
  .inHomeContainer{
    width: 1220px;
  }
  #aslShowcase{
    width: 1220px;
  }
  .aslContent{
    padding-left: 660px;
  }
  #homeContact{
    margin-left: 200px;
  }
  #globalFoot{
    width: 1220px;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    overflow-x: hidden;
  }
  #menu a{
    font-size: 20px;
    margin-left: 16px;
  }
  .appointmentBtn{
    margin: 46px 0 0 200px;
  }
  #showcaseImg{
    width: 1440px;
  }
  #introHead{
    padding-top: 428px;
  }
  #trustSection{
    margin-left: 210px;
  }
  #careTypeContain{
    width: 1440px;
  }
  .contactShowcase{
    width: 1440px;
  }
  .contactText{
    padding-top: 296px;
  }
  .contactBar{
    margin-left: 210px;
  }
  .bestCareContain{
    margin-left: 210px;
  }
  .bestCareIntro{
    padding-top: 80px;
  }
  #quickMesContain{
    width: 1440px;
  }
  .mesText p{
    margin-left: 416px;
  }
  .mesLink{
    margin-left: 564px;
  }
  .aboutTitle{
    margin-left: -40px;
  }
  .aboutUsText{
    padding-left: 0px;
  }
  .linkRow{
    margin-left: 94px;
  }
  .linkContent{
    margin-left: -50px;
  }
  .inHomeContainer{
    width: 1440px;
  }
  #aslShowcase{
    width: 1440px;
  }
  .aslContent{
    padding-left: 760px;
  }
  #homeContact{
    margin-left: 0px;
  }
  #globalFoot{
    width: 1440px;
  }
}