@media only screen and (max-width: 425px){
/* open Btn And Close Btn */
#openBtn, #closeBtn{
  display: none;
}
#showcaseImg{
  background-position: center;
  zoom: .5;
}
.navSet{
  float: none;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: unset;
  background-color: transparent;
}
.logo img{
  height: 10px;
  width: 10px;
  margin-left: 10px;
}
#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 4vh;
  width: 500px;
  margin-top: 16px;
  margin-left: 6px;
}
#menu a{
  font-size: 20px;
  color: #e7e7e7;
}
.appointmentBtn{
  display: none;
}
#introHead{
  padding-top: 280px;
  padding-left: 20px;
}
#introBtn{
  margin-left: 20px;
}
#introBtn a{
  margin-right: 20px;
  text-transform: capitalize;
}
#trustSection{
  margin-bottom: 50px;
  margin-left: 6px !important;
  width: 400px !important;
}
.trustText{
  width: 300px !important;
}
.trustText h3{
  text-align: center !important;
  font-size: 12px !important;
  padding-left: 16px;
  width: 200px;
}
.subTitle{
  padding-left: 84px;
}
.trustDesc1{
  width: 208px !important;
  padding-left: 10px !important;
}
.trustDesc2{
  width: 222px !important;
  padding-left: 0 !important;
}
.fa-comment{
  padding-left: 70px !important;
}
.emailLink{
  padding-left: 30px !important;
}
.emailLink a{
  font-size: 14px;
}
#careTypeContain{
  display: none;
}
.contactShowcase{
  zoom: .5;
  background-attachment: unset;
}
.contactBar{
  margin-left: 36px !important;
}
.contactPhone h3, .contactEmail h3{
  font-size: 14px;
}
.fa-phone-plus, .fa-envelope{
  font-size: 20px;
}
.bestCareContain{
  width: 400px !important;
  margin-left: 6px !important;
}
.bestCarePhoto{
  padding-left: 60px;
}
.bestCareIntro{
  padding-top: 16px !important;
  padding-left: -15px !important;
}
.bestCareIntro h1{
  margin-left: 4px;
  width: 200px;
}
.listContent h3{
  font-size: 18px;
}
.mesText p{
  font-size: 16px;
  margin-left: 24px !important;
  width: 360px;
}
.mesLink{
  margin-left: 54px !important;
}
.linkRow h3{
  font-size: 14px;
}
.linkContent img{
  display: none;
}
.linkContent h2{
  font-size: 18px;
}
.aboutDesc, .aboutDesc2{
  font-size: 14px;
  width: 340px !important;
}
.inHomeContainer{
  display: none;
}
.aslShowcase{
  zoom: .5;
  background-attachment: unset;
  background-position: left;
}
.aslContent{
  padding-left: 90px !important;
}
.aslTitle{
 font-size: 20px !important;
 width: 300px !important;
}
.aslDescription{
  width: 300px !important;
}
#mapLoc{
  display: none;
}
.copyRight{
  padding-left: 4px;
}
.copyRight p{
  font-size: 12px;
}
.phoneNum{
  padding-right: 0;
}
.phoneNum h3{
  font-size: 12px;
}
/* ABOUT US PAGE STARTS HERE */
.aboutShowcase{
  zoom: .5;
}
.rightChoice{
  margin-left: -40px;
  overflow-x: hidden;
}
.rightTitle{
  width: 300px;
  margin-left: 105px;
  padding-bottom: 30px;
}
.factsRow{
  flex-direction: column;
  margin-left: 70px;
}
.fact p{
  width: 300px;
  margin-left: 40px;
}
.homeVisitShowcase{
  zoom: .5;
  background-attachment: unset;
}
.visitTitle{
  font-size: 22px;
}
.visitDesc{
  width: 340px;
}
.ourValuesText p{
  width: 300px;
}
.valuesRow{
  flex-direction: column;
}
.box{
  padding-top: 20px;
}
/* SERVICES PAGE STARTS HERE */
.serviceShowcase{
  zoom: .5;
}
.serviceShowTitle{
  padding-top: 350px;
}
.serviceIntro{
  font-size: 26px;
}
.mainServiceDes{
  font-size: 16px;
  width: 360px;
  margin-left: 30px !important;
}
#serviceMessageIcon{
  margin-left: 112px;
  margin-bottom: 20px;
}
.servEmail{
  padding-left: 94px;
}
.serviceTypeBlue, .serviceTypeOrange, #gridPhto, .serviceContentContain{
  width: 300px !important;
}
.serviceSubtext{
  width: 260px !important;
}
.gridContainer{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  /* CONTACT PAGE STARTS HERE */
  .mainContactShowcase{
    zoom: .5;
  }
  .innerText h1{
    padding-top: 326px;
  }
  .contactType h3{
    font-size: 20px;
  }
  .contactType p{
    font-size: 16px;
  }
  .contactForm{
    margin-left: 0px !important;
  }
  #messageInput{
    width: 350px !important;
    margin-left: 20px !important;
  }
  .subMesBtn{
    margin-left: 140px !important;
  }
  .kidsDesc{
    width: 360px;
  }
}




@media only screen and (min-width: 768px){
  #menu a{
      margin-left: 6px;
    }
  #introHead h1{
    font-size: 40px;
  }
  .logo img{
    height: 90px;
    width: 130px;
    padding-top: 20px;
    padding-left: 10px;
  }
  .appointmentBtn a{
    font-size: 14px;
    color: #e7e7e7;
    background-color: orangered;
    padding: 4px;
    border-radius: 6px;
    transition: ease-in-out;
  }
  #trustSection{
    height: 66vh;
    width: 80vw;
    margin-left: 70px;
  }
  .trustPhoto img, .bestCarePhoto img{
    height: 66vh;
    width: 40vw;
  }
  .trustText{
    margin-top: -40px;
    height: 40vh;
    width: 40vw;
  }
  .trustText h3{
    font-size: 18px;
  }
  .subTitle{
    font-size: 16px;
    margin-left: -20px;
  }
  .trustDesc1, .trustDesc2{
    font-size: 12px;
    width: 260px;
    padding-top: 4px;
    padding-left: 20px;
  }
  .fa-comment{
    margin-top: 40px;
    margin-left: 20px;
  }
  .emailLink{
    margin-top: 10px;
    padding-left: 50px;
  }
  .contactBar{
    margin-left: 70px;
    width: 80vw;
  }
  .listContent{
    width: 40vw;
  }
  .bestCareContain{
    height: 66vh;
    width: 80vw;
    margin-left: 70px;
  }
  .careList{
    height: 66vh;
    width: 40vw;
  }
  .bestCareIntro{
    padding-top: 60px;
    padding-left: 0;
  }
  .bestCareIntro h1{
    font-size: 18px;
    margin-left: 30px;
  }
  .numberSpace{
    width: 300px;
  }
  .listNum{
    width: 60px;
    margin-right: -10px;
  }
  .listNum, .listContent{
    font-size: 12px;
  }
  .mesText p{
    margin-left: 82px;
  }
  .mesLink{
    margin-left: 232px;
  }
  .aboutUsText h2{
    font-size: 26px;
    width: 400px;
    text-align: left;
  }
  .aboutDesc, .aboutDesc2{
    font-size: 16px;
    width: 400px;
  }
  .linkContent img{
    height: 394px;
    width: 250px;
    margin-right: 40px;
  }
  .linkContent h2{
    font-size: 22px;
    width: 300px;
  }
  .aslContent{
    padding-left: 380px;
  }
  .aslTitle{
    font-size: 24px;
    width: 400px;
  }
  .aslDescription{
    width: 360px;
  }
  /* ABOUT US STARTS HERE */
  .ourValuesText p{
    margin-left: 64px;
  }
  .factsRow{
    flex-direction: column;
  }
  .rightTitle{
    padding-bottom: 30px;
  }
  /* SERVICES PAGE STARTS HERE */
  .mainServiceDes{
    margin-left: 78px;
  }
  #serviceMessageIcon{
    margin-left: 112px;
  }
  .gridContainer{
    overflow: hidden;
    padding: 20px 0 0 20px;
  }
  .serviceTypeBlue, .serviceTypeOrange, #gridPhto, .serviceContentContain{
    width: 220px;
  }
  .serviceTitle{
    padding-top: 20px;
  }
  .serviceSubtext{
    width: 188px;
    padding-left: 20px;
  }
  .serviceLinks{
    text-align: left;
  }
  .serviceLinks a{
    font-size: 14px;
    padding-left: 30px;
  }
  /* CONTACT PAGE STARTS HERE */
  .contactForm{
    margin-left: 70px;
  }
  #messageInput{
    width: 600px;
    margin-left: 60px;
  }
  .subMesBtn{
    margin-left: 60px;
  }
}





@media only screen and (min-width: 768px){
#menu a{
    margin-left: 6px;
  }
#trustSection{
  height: 66vh;
  width: 80vw;
  margin-left: 70px;
}
.trustPhoto img, .bestCarePhoto img{
  height: 66vh;
  width: 40vw;
}
.trustText{
  margin-top: -40px;
  height: 40vh;
  width: 40vw;
}
.trustText h3{
  font-size: 18px;
}
.subTitle{
  font-size: 16px;
  margin-left: -20px;
}
.trustDesc1, .trustDesc2{
  font-size: 12px;
  width: 260px;
  padding-top: 4px;
  padding-left: 20px;
}
.fa-comment{
  margin-top: 40px;
  margin-left: 20px;
}
.emailLink{
  margin-top: 10px;
  padding-left: 50px;
}
.contactBar{
  margin-left: 70px;
  width: 80vw;
}
.listContent{
  width: 40vw;
}
.bestCareContain{
  height: 66vh;
  width: 80vw;
  margin-left: 70px;
}
.careList{
  height: 66vh;
  width: 40vw;
}
.bestCareIntro{
  padding-top: 60px;
  padding-left: 0;
}
.bestCareIntro h1{
  font-size: 18px;
  margin-left: 30px;
}
.numberSpace{
  width: 300px;
}
.listNum{
  width: 60px;
  margin-right: -10px;
}
.listNum, .listContent{
  font-size: 12px;
}
.mesText p{
  margin-left: 82px;
}
.mesLink{
  margin-left: 232px;
}
.aboutUsText h2{
  font-size: 26px;
  width: 400px;
  text-align: left;
}
.aboutDesc, .aboutDesc2{
  font-size: 16px;
  width: 400px;
}
.linkContent img{
  height: 394px;
  width: 250px;
  margin-right: 40px;
}
.linkContent h2{
  font-size: 22px;
  width: 300px;
}
.aslContent{
  padding-left: 380px;
}
.aslTitle{
  font-size: 24px;
  width: 400px;
}
.aslDescription{
  width: 360px;
}
/* ABOUT US PAGE STARTS HERE */
.ourValuesText p{
  margin-left: 64px;
}
.factsRow{
  flex-direction: column;
}
.rightTitle{
  padding-bottom: 30px;
}
  /* SERVICES PAGE STARTS HERE */
  .mainServiceDes{
    margin-left: 78px;
  }
  #serviceMessageIcon{
    margin-left: 112px;
  }
  .gridContainer{
    overflow: hidden;
    padding: 20px 0 0 20px;
  }
  .serviceTypeBlue, .serviceTypeOrange, #gridPhto, .serviceContentContain{
    width: 220px;
  }
  .serviceTitle{
    padding-top: 20px;
  }
  .serviceSubtext{
    width: 188px;
    padding-left: 20px;
  }
  .serviceLinks{
    text-align: left;
  }
  .serviceLinks a{
    font-size: 14px;
    padding-left: 30px;
  }
  /* CONTACT PAGE STARTS HERE */
  .contactForm{
    margin-left: 70px;
  }
  #messageInput{
    width: 600px;
    margin-left: 60px;
  }
  .subMesBtn{
    margin-left: 60px;
  }
}



@media only screen and (min-width: 991px){
  .logo img{
    height: 138px;
    width: 198px;
  }
  #introBtn{
    margin: 10px 0 0 38px;
  }
  #trustSection{
    margin-left: 90px;
  }
  .subTitle{
    padding-left: 160px;
  }
  .trustDesc1, .trustDesc2{
    font-size: 16px;
    width: 350px;
    padding-left: 20px;
  }
  .fa-comment{
    padding-left: 140px;
  }
  .emailLink{
    padding-left: 80px;
  }
  .contactBar, .bestCareContain{
    margin-left: 90px;
  }
  .numberSpace{
    margin-left: 20px;
  }
  .listNum{
    padding-right: 8px;
  }
  .mesText p{
    margin-left: 190px;
  }
  .mesLink{
    margin-left: 340px;
  }
  .aslContent{
    padding-left: 540px;
  }

  /* ABOUT US PAGE STARTS HERE*/
  .rightTitle{
    padding-bottom: 70px;
  }
  .factsRow{
    flex-direction: column;
  }
  .ourValuesText p{
  margin-left: 180px;
  }
  /* SERVICES PAGE STARTS HERE*/
  .mainServiceDes{
    margin-left: 186px;
  }
  #serviceMessageIcon{
    margin-left: 200px;
  }
  .gridContainer{
    overflow: hidden;
    padding-left: 20px;
    padding-right: 0;
  }
  .serviceTypeBlue, .serviceTypeOrange, #gridPhto, .serviceContentContain, .serviceTitle{
    width: 300px;
  }
  .serviceSubtext{
    width: 258px;
    padding-left: 20px;
  }
  /* CONTACT PAGE STARTS HERE */
  .contactForm{
    margin-left: 100px;
  }
}

/* Large Screens*/
@media only screen and (min-width: 1024px){
  .logo{
    margin-left: 4px;
  }
  .logo img{
    width: 280px;
  }
  #menu a{
    margin-left: 12px;
  }
  .subTitle{
    font-size: 16px;
    margin-left: 20px;
  }
  #trustSection{
    margin-left: 100px;
  }
  .trustText{
   margin-top: -176px;
   margin-left: 30px;
  }
  .trustDesc1, .trustDesc2{
    font-size: 18px;
    width: unset;
  }
  .fa-comment{
    padding-left: 130px;
    padding-top: 4px;
  }
  .emailLink{
    padding-left: 70px;
  }
  .contactBar, .bestCareContain{
    margin-left: 100px;
  }
  .bestCareIntro{
    padding-top: 50px;
    padding-left: 50px;
  }
  .bestCareIntro h1{
    font-size: 22px;
  }
  .listContent{
    padding-left: 20px;
  }
  .listContent h3{
    width: 300px;
  }
  .listContent p{
    font-size: 14px;
  }
  .mesText p{
    margin-left: 210px;
  }
  .mesLink{
    margin-left: 360px;
  }
  .aslContent{
    margin-left: -200px;
  }
  .aslTitle{
    font-size: 30px;
  }
  /* ABOUT US PAGE STARTS HERE*/
  .logo img{
    width: 196px;
  }
  .factsRow{
    flex-direction: row;
  }
  .fact h3{
    text-align: left;
  }
  .fact p{
    width: 270px;
    text-align: left;
  }
  .ourValuesText p{
    margin-left: 185px;
  }
/* SERVICES PAGE STARTS HERE */
  .mainServiceDes{
    margin-left: 204px;
  }
  #serviceMessageIcon{
    margin-left: 224px;
  }
  .gridContainer{
    padding: 100px 3px 0 26px;
    overflow: hidden;
  }
  .serviceTypeBlue, .serviceTypeOrange, #gridPhto, .serviceContentContain, .serviceTitle{
    width: 306px;
  }
  .serviceSubtext{
    width: 296px;
  }*/
  /* CONTACT PAGE STARTS HERE */
  .contactForm{
    margin-left: 112px;
  }
}





@media only screen and (min-width: 1440px){
  .logo img{
    width: 280px;
  }
  #trustSection{
    margin-left: 150px;
  }
  .trustText{
   margin-top: -176px;
   margin-left: 0px;
  }
  .subTitle{
    margin-left: 76px;
  }
  .trustDesc1, .trustDesc2{
    font-size: 18px;
    width: unset;
    padding-left: 0;
  }
  .fa-comment{
    padding-left: 250px;
    padding-top: 4px;
  }
  .emailLink{
    padding-left: 180px;
  }
  .contactBar, .bestCareContain{
    margin-left: 150px;
  }
  .bestCareIntro{
    padding-top: 50px;
    padding-left: 50px;
  }
  .listContent{
    padding-left: 50px;
  }
  .listContent h3{
    width: 300px;
  }
  .listContent p{
    font-size: 16px;
  }
  .mesText p{
    margin-left: 412px;
  }
  .mesLink{
    margin-left: 560px;
  }

.linkContent img{
  margin-right: -200px;
  height: 400px;
  width: 300px;
}
.aslContent{
  margin-left: 200px;
}
.aslTitle{
  font-size: 30px;
}
.aslDescription{
  font-size: 20px;
  width: 500px;
}
.serviceMessageIcon{
  margin-left: 40px;
}
/* ABOUT US STARTS HERE */
.ourValuesText p{
  margin-left: 402px;
}
}


