@import "1-Variables/variables";

@import "2-Mixins/global-Mixins";

@import "0-Layout/layout-Dir";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-image: url("https://doc-08-b8-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ol08i7spnac791id6bp2ts0dmf1kd8lq/1551657600000/00044937640541043010/*/1vtKYlxXVTJpgia2NasRDQ4hznVHi53gM");
}
