#showcaseImg {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/img8.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden; }
  @media only screen and (max-width: 425px) {
    #showcaseImg {
      height: 40vh; } }

.showLogo {
  display: inline-flex;
  padding-left: 60px;
  padding-top: 40px; }
  .showLogo .hmeLink img {
    height: 150px;
    width: 300px; }
  @media only screen and (max-width: 425px) {
    .showLogo {
      display: none; } }

#mainNav {
  opacity: 0;
  width: 0px; }
  @media only screen and (max-width: 425px) {
    #mainNav {
      margin-right: 0;
      opacity: 1;
      display: flex;
      flex-direction: row;
      justify-content: unset;
      align-items: unset;
      height: 84px; } }

.navSet {
  float: right;
  width: 300px;
  height: 100vh;
  background-color: #00a2e848; }
  .navSet #closeBtn {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
    color: #e7e7e7;
    transition: 0.6s; }
    @media only screen and (max-width: 425px) {
      .navSet #closeBtn {
        display: none; } }
  .navSet #closeBtn:hover {
    color: #ff4500; }
  .navSet .logo {
    padding-top: 40px;
    padding-left: 20px; }
    .navSet .logo img {
      height: 200px;
      width: 260px; }
      @media only screen and (max-width: 425px) {
        .navSet .logo img {
          height: 70px;
          width: 70px; } }
    @media only screen and (max-width: 425px) {
      .navSet .logo {
        padding-top: 0px;
        padding-left: 10px; } }
  .navSet #menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: unset;
    height: 320px;
    text-align: center;
    padding-top: 30px; }
    .navSet #menu a {
      font-size: 26px;
      font-weight: lighter;
      color: #e7e7e7;
      text-transform: capitalize;
      width: 160px;
      margin-left: 80px;
      transition: 0.6s; }
      @media only screen and (max-width: 425px) {
        .navSet #menu a {
          font-size: 14px;
          margin-left: 10px; } }
    .navSet #menu a:hover {
      color: #ff4500; }
    @media only screen and (max-width: 425px) {
      .navSet #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: unset;
        padding-top: 10px;
        height: 40px;
        width: 306px; } }
  .navSet .appointmentBtn {
    width: 220px;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px; }
    .navSet .appointmentBtn a {
      background-color: #ff4500;
      font-size: 18px;
      color: #e7e7e7;
      font-weight: lighter;
      text-transform: capitalize;
      padding: 10px 20px 10px 20px;
      transition: 0.6s; }
    .navSet .appointmentBtn a:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }
    @media only screen and (max-width: 425px) {
      .navSet .appointmentBtn {
        display: none; } }
  @media only screen and (max-width: 425px) {
    .navSet {
      float: none;
      background-color: transparent;
      width: 100%; } }

#openBtn {
  font-size: 60px;
  color: #ff4500;
  margin-right: 60px;
  float: right;
  opacity: 1;
  transition-duration: 0.6s; }
  @media only screen and (max-width: 425px) {
    #openBtn {
      opacity: 0; } }

#openBtn:hover {
  color: #00a2e8; }

#introHead {
  padding-top: 280px;
  padding-left: 60px; }
  #introHead h1 {
    font-size: 50px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #e7e7e7; }
    @media only screen and (max-width: 425px) {
      #introHead h1 {
        font-size: 20px; } }
  #introHead p {
    font-size: 24px;
    color: #e7e7e7; }
    @media only screen and (max-width: 425px) {
      #introHead p {
        font-size: 12px; } }
  @media only screen and (max-width: 425px) {
    #introHead {
      padding-top: 40px;
      padding-left: 10px; } }

#introBtn {
  padding-top: 30px;
  padding-left: 60px; }
  #introBtn a {
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #e7e7e7;
    transition: 0.6s; }
    @media only screen and (max-width: 425px) {
      #introBtn a {
        font-size: 14px;
        padding: 5px 10px 5px 10px; } }
  #introBtn a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }
  #introBtn a:nth-last-child(1) {
    margin-left: 20px; }
  @media only screen and (max-width: 425px) {
    #introBtn {
      padding-left: 10px; } }

#globalFoot {
  width: 100%;
  background-color: #e4e4e4;
  padding: 10px; }

.copyRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: unset; }
  .copyRight p {
    padding-left: 60px; }
    @media only screen and (max-width: 425px) {
      .copyRight p {
        font-size: 12px;
        padding-left: 10px; } }

.phoneNum h3 {
  padding-right: 60px; }
  @media only screen and (max-width: 425px) {
    .phoneNum h3 {
      font-size: 12px;
      padding-right: 10px; } }

.headContain {
  height: 30vh;
  max-width: 100%;
  background-color: #fff;
  z-index: 99; }
  .headContain .headerSocial {
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    height: 40px;
    border-bottom: 1px solid #b0b0b0; }
    .headContain .headerSocial .address {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-left: 60px;
      margin-top: 10px; }
      .headContain .headerSocial .address .fa-home {
        font-size: 20px;
        color: #303030; }
        @media only screen and (max-width: 425px) {
          .headContain .headerSocial .address .fa-home {
            font-size: 18px; } }
      .headContain .headerSocial .address h4 {
        font-weight: lighter;
        font-size: 20px;
        color: #505050;
        margin-left: 10px; }
        @media only screen and (max-width: 768px) {
          .headContain .headerSocial .address h4 {
            font-size: 16px; } }
        @media only screen and (max-width: 425px) {
          .headContain .headerSocial .address h4 {
            font-size: 14px; } }
      @media only screen and (max-width: 768px) {
        .headContain .headerSocial .address {
          margin-left: 10px; } }
      @media only screen and (max-width: 425px) {
        .headContain .headerSocial .address {
          margin-left: 50px; } }
    .headContain .headerSocial .email {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-left: 50px;
      margin-top: 10px; }
      .headContain .headerSocial .email .fa-envelope {
        font-size: 20px;
        color: #303030; }
      .headContain .headerSocial .email h4 {
        font-family: "Open Sans", sans-serif;
        margin-left: 10px;
        font-size: 20px;
        color: #303030;
        font-weight: lighter;
        margin-top: -4px; }
        @media only screen and (max-width: 768px) {
          .headContain .headerSocial .email h4 {
            font-size: 16px; } }
      @media only screen and (max-width: 425px) {
        .headContain .headerSocial .email {
          margin-left: 110px; } }
    @media only screen and (max-width: 425px) {
      .headContain .headerSocial {
        flex-direction: column;
        text-align: center;
        height: 70px; } }
  .headContain .headerContact {
    height: 18vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: unset; }
    .headContain .headerContact .logoContain {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-left: 60px; }
      @media only screen and (max-width: 768px) {
        .headContain .headerContact .logoContain {
          margin-left: 10px; } }
    .headContain .headerContact .logo {
      height: 140px;
      width: 300px; }
      @media only screen and (max-width: 1024px) {
        .headContain .headerContact .logo {
          width: 200px; } }
      @media only screen and (max-width: 768px) {
        .headContain .headerContact .logo {
          width: 140px; } }
    .headContain .headerContact h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
      font-weight: lighter;
      padding-top: 20px;
      color: #303030;
      letter-spacing: 4px; }
    .headContain .headerContact p {
      display: block;
      font-size: 20px;
      color: #303030;
      letter-spacing: 10px; }
    .headContain .headerContact .miniContact {
      display: flex;
      flex-direction: unset;
      justify-content: unset;
      align-items: unset;
      margin-top: 40px;
      margin-right: 90px; }
      .headContain .headerContact .miniContact .phone {
        display: flex;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset; }
        .headContain .headerContact .miniContact .phone .fa-phone {
          font-size: 30px;
          color: #303030;
          padding-top: 6px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .phone .fa-phone {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .phone .contactText h3 {
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: lighter;
          text-transform: capitalize;
          color: #303030;
          padding-left: 14px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .phone .contactText h3 {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .phone .contactText h4 {
          color: #ff4500;
          padding-left: 14px;
          letter-spacing: 2px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .phone .contactText h4 {
              font-size: 14px; } }
        @media only screen and (max-width: 768px) {
          .headContain .headerContact .miniContact .phone {
            padding-left: 10px; } }
      .headContain .headerContact .miniContact .opHours {
        display: flex;
        flex-direction: unset;
        justify-content: unset;
        align-items: unset;
        margin-left: 30px; }
        .headContain .headerContact .miniContact .opHours .fa-clock {
          font-size: 30px;
          color: #303030;
          padding-top: 6px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .opHours .fa-clock {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .opHours h3 {
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          font-weight: lighter;
          text-transform: capitalize;
          color: #303030;
          padding-left: 14px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .opHours h3 {
              font-size: 18px; } }
        .headContain .headerContact .miniContact .opHours h4 {
          color: #ff4500;
          padding-left: 14px; }
          @media only screen and (max-width: 768px) {
            .headContain .headerContact .miniContact .opHours h4 {
              font-size: 14px; } }
      .headContain .headerContact .miniContact .aptBtn {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: lighter;
        color: #f7f7f7;
        height: 60px;
        padding: 16px;
        text-transform: capitalize;
        background-color: #ff4500;
        margin-top: -5px;
        margin-right: -20px;
        margin-left: 20px;
        transition: 0.6s; }
        @media only screen and (max-width: 768px) {
          .headContain .headerContact .miniContact .aptBtn {
            margin-right: 0px;
            margin-left: 10px;
            font-size: 15px; } }
      .headContain .headerContact .miniContact .aptBtn:hover {
        box-shadow: 5px 5px 10px black;
        background-color: #00a2e8; }
      @media only screen and (max-width: 1024px) {
        .headContain .headerContact .miniContact {
          margin-right: 22px; } }
    @media only screen and (max-width: 425px) {
      .headContain .headerContact {
        display: none; } }
  .headContain .nav {
    height: 50px;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-left: 60px;
    background-color: #ff4500; }
    .headContain .nav a {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #f7f7f7;
      text-transform: capitalize;
      margin-left: 30px; }
      @media only screen and (max-width: 425px) {
        .headContain .nav a {
          margin-left: 20px; } }
    .headContain .nav a:hover {
      color: #00a2e8; }
    @media only screen and (max-width: 768px) {
      .headContain .nav {
        padding-left: 0px; } }
  @media only screen and (max-width: 425px) {
    .headContain {
      height: 15vh; } }

#trustSection {
  height: 70vh;
  width: 100%; }

.trustContent {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .trustContent .trustPhoto {
    height: 500px;
    width: 500px; }
    .trustContent .trustPhoto img {
      height: 500px;
      width: 500px; }
    @media only screen and (max-width: 768px) {
      .trustContent .trustPhoto {
        width: 384px; } }
    @media only screen and (max-width: 425px) {
      .trustContent .trustPhoto {
        display: none; } }
  .trustContent .trustText {
    background-color: #f5f5f5;
    height: 500px;
    width: 500px;
    text-align: center;
    padding-top: 40px; }
    .trustContent .trustText h3 {
      font-size: 30px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #303030; }
      @media only screen and (max-width: 768px) {
        .trustContent .trustText h3 {
          font-size: 24px; } }
    .trustContent .trustText .subTitle {
      font-size: 20px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #ff4500;
      padding-top: 10px; }
    .trustContent .trustText .trustDesc1 {
      font-size: 18px;
      width: 405px;
      margin-top: 20px;
      margin-left: 48px; }
      @media only screen and (max-width: 768px) {
        .trustContent .trustText .trustDesc1 {
          width: 350px;
          margin-left: 20px; } }
    .trustContent .trustText .trustDesc2 {
      font-size: 18px;
      width: 405px;
      margin-top: 20px;
      margin-left: 48px; }
      @media only screen and (max-width: 768px) {
        .trustContent .trustText .trustDesc2 {
          width: 350px;
          margin-left: 20px; } }
    .trustContent .trustText .fa-comment {
      padding-top: 30px;
      font-size: 30px;
      color: #ff4500;
      transition: 0.6s; }
    .trustContent .trustText .fa-comment:hover {
      color: #00a2e8; }
    .trustContent .trustText .emailLink {
      padding-top: 20px; }
      .trustContent .trustText .emailLink a {
        font-size: 20px;
        font-weight: lighter;
        color: #303030;
        transition: 0.6s; }
      .trustContent .trustText .emailLink a:hover {
        color: #00a2e8; }
    @media only screen and (max-width: 768px) {
      .trustContent .trustText {
        width: 384px; } }
  @media only screen and (max-width: 1024px) {
    .trustContent {
      margin-top: 40px; } }

#careTypeContain {
  height: 20vh;
  width: 100%; }
  #careTypeContain .careRow {
    height: 20vh;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 210px;
    overflow-y: hidden; }
    @media only screen and (max-width: 1024px) {
      #careTypeContain .careRow {
        margin-left: 0px; } }
    @media only screen and (max-width: 768px) {
      #careTypeContain .careRow {
        width: 768px; } }
    @media only screen and (max-width: 425px) {
      #careTypeContain .careRow {
        height: 100%;
        width: 400px;
        flex-direction: column;
        margin-top: 20px;
        overflow-y: unset; } }
  #careTypeContain .careType {
    text-align: center; }
    #careTypeContain .careType #careIcon {
      font-size: 40px;
      color: #ff4500; }
    #careTypeContain .careType h3 {
      font-size: 24px;
      text-transform: capitalize;
      font-weight: lighter;
      color: #303030; }
    #careTypeContain .careType .readMore a {
      font-size: 18px;
      color: #ff4500;
      text-transform: capitalize;
      transition: 0.6s; }
    #careTypeContain .careType .readMore a:hover {
      color: #00a2e8; }
    @media only screen and (max-width: 425px) {
      #careTypeContain .careType {
        padding-top: 30px; } }
  @media only screen and (max-width: 425px) {
    #careTypeContain {
      height: 100%; } }

.contactShowcase {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/img10.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vh;
  width: 100%; }
  .contactShowcase .contactText {
    padding-top: 200px;
    text-align: center; }
    .contactShowcase .contactText h2 {
      font-size: 40px;
      font-weight: lighter;
      text-transform: capitalize;
      color: #e7e7e7; }
      @media only screen and (max-width: 425px) {
        .contactShowcase .contactText h2 {
          font-size: 30px; } }
    .contactShowcase .contactText #conClick {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7;
      text-transform: capitalize;
      background-color: #ff4500;
      padding: 10px 20px 10px 20px;
      margin-top: 40px;
      margin-left: 630px;
      width: 160px;
      transition: 0.6s;
      cursor: pointer; }
      @media only screen and (max-width: 1024px) {
        .contactShowcase .contactText #conClick {
          margin-left: 440px; } }
      @media only screen and (max-width: 768px) {
        .contactShowcase .contactText #conClick {
          margin-left: 300px; } }
      @media only screen and (max-width: 425px) {
        .contactShowcase .contactText #conClick {
          margin-top: 20px;
          margin-left: 130px; } }
    .contactShowcase .contactText #conClick:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }
    @media only screen and (max-width: 425px) {
      .contactShowcase .contactText {
        padding-top: 50px; } }
  @media only screen and (max-width: 425px) {
    .contactShowcase {
      margin-top: 60px;
      height: 30vh;
      background-attachment: unset; } }

#contactBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -120px; }
  #contactBar .block {
    height: 300px;
    width: 300px;
    border: 2px solid #a5a5a52a;
    background-color: #f9f9f9;
    text-align: left;
    overflow: hidden; }
    #contactBar .block .conRowIcon {
      font-size: 100px;
      color: #00a2e8;
      margin-top: 10px;
      margin-left: 70px;
      padding: 20px;
      border: 6px solid #00a2e8;
      border-radius: 100px; }
    #contactBar .block .conTextContain {
      height: 130px;
      background-color: #fff; }
      #contactBar .block .conTextContain h3 {
        font-size: 30px;
        font-weight: lighter;
        color: #303030;
        text-transform: capitalize;
        border-top: 4px solid #ff4500;
        margin-top: 30px;
        padding-top: 10px;
        padding-left: 20px; }
      #contactBar .block .conTextContain p {
        font-size: 18px;
        font-weight: lighter;
        color: #303030;
        width: 240px;
        padding-top: 4px;
        padding-left: 20px; }
  #contactBar .blockOne,
  #contactBar .blockTwo,
  #contactBar .blockThree {
    opacity: 0; }
    @media only screen and (max-width: 425px) {
      #contactBar .blockOne,
      #contactBar .blockTwo,
      #contactBar .blockThree {
        margin-top: 40px; } }
  @media only screen and (max-width: 425px) {
    #contactBar {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 20px; } }

.bestCareContain {
  height: 70vh;
  width: 100%;
  margin-top: -160px; }
  .bestCareContain #bestCareContent {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40px; }
    .bestCareContain #bestCareContent .careList {
      background-color: #f5f5f5;
      height: 500px;
      width: 500px; }
      @media only screen and (max-width: 768px) {
        .bestCareContain #bestCareContent .careList {
          width: 384px; } }
    .bestCareContain #bestCareContent .bestCareIntro {
      padding-top: 60px;
      padding-left: 60px; }
      .bestCareContain #bestCareContent .bestCareIntro h1 {
        font-size: 28px;
        font-weight: lighter;
        text-transform: capitalize;
        color: #303030; }
      @media only screen and (max-width: 425px) {
        .bestCareContain #bestCareContent .bestCareIntro {
          padding-left: 10px; } }
  .bestCareContain .numberSpace {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    padding-top: 30px; }
  .bestCareContain .listNum {
    padding-right: 10px; }
    .bestCareContain .listNum h2 {
      font-size: 30px;
      color: #ff4500; }
  .bestCareContain .listContent {
    width: 360px; }
    .bestCareContain .listContent h3 {
      font-size: 22px;
      font-weight: lighter;
      color: #303030;
      text-transform: capitalize; }
  .bestCareContain .bestCarePhoto img {
    height: 500px;
    width: 500px; }
    @media only screen and (max-width: 768px) {
      .bestCareContain .bestCarePhoto img {
        width: 384px; } }
  @media only screen and (max-width: 425px) {
    .bestCareContain .bestCarePhoto {
      display: none; } }
  @media only screen and (max-width: 425px) {
    .bestCareContain {
      margin-top: -1050px; } }

#quickMesContain {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/img12.jpeg);
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 100%;
  margin-top: 60px; }
  @media only screen and (max-width: 425px) {
    #quickMesContain {
      height: 30vh; } }

.mesText {
  padding-top: 100px;
  text-align: center; }
  .mesText h1 {
    font-size: 30px;
    font-weight: lighter;
    color: #e7e7e7;
    text-transform: capitalize; }
  .mesText p {
    font-size: 18px;
    width: 400px;
    margin-left: 510px;
    color: #e7e7e7; }
    @media only screen and (max-width: 1024px) {
      .mesText p {
        margin-left: 310px; } }
    @media only screen and (max-width: 768px) {
      .mesText p {
        margin-left: 180px; } }
    @media only screen and (max-width: 425px) {
      .mesText p {
        margin-left: 20px;
        display: none; } }
  @media only screen and (max-width: 425px) {
    .mesText {
      padding-top: 70px; } }

.mesLink {
  margin-top: 20px; }
  .mesLink a {
    font-size: 18px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #e7e7e7;
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
    transition: 0.6s; }
  .mesLink a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }

.aboutTitle {
  text-align: center;
  margin-top: 60px; }
  .aboutTitle h1 {
    font-size: 30px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize; }

.linkRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  margin-top: 20px;
  margin-left: 410px; }
  .linkRow h3 {
    font-size: 20px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize;
    transition: 0.6s;
    cursor: pointer; }
    @media only screen and (max-width: 425px) {
      .linkRow h3 {
        font-size: 15px; } }
  .linkRow h3:hover {
    color: #ff4500; }
  @media only screen and (max-width: 1024px) {
    .linkRow {
      margin-left: 200px; } }
  @media only screen and (max-width: 768px) {
    .linkRow {
      margin-left: 80px; } }
  @media only screen and (max-width: 425px) {
    .linkRow {
      margin-left: 0px;
      width: 400px; } }

#aboutus,
#ourapproach,
#weoffer,
#wework {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.hidden {
  display: none !important; }

.linkContentPhto img {
  height: 500px;
  width: 500px; }
  @media only screen and (max-width: 768px) {
    .linkContentPhto img {
      width: 384px; } }
  @media only screen and (max-width: 425px) {
    .linkContentPhto img {
      display: none; } }

.aboutUsText {
  height: 500px;
  width: 500px;
  padding-top: 40px;
  padding-left: 10px;
  text-align: center;
  background-color: #f5f5f5; }
  .aboutUsText h2 {
    font-size: 24px;
    font-weight: lighter;
    text-transform: capitalize; }
  .aboutUsText .aboutDesc {
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    padding-top: 30px;
    margin-left: 15px;
    width: 450px; }
    @media only screen and (max-width: 768px) {
      .aboutUsText .aboutDesc {
        width: 354px;
        margin-left: 10px; } }
  .aboutUsText .aboutDesc2 {
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    padding-top: 30px;
    margin-left: 15px;
    width: 450px; }
    @media only screen and (max-width: 768px) {
      .aboutUsText .aboutDesc2 {
        width: 354px;
        margin-left: 10px; } }
  .aboutUsText .moreInfobtn {
    margin-top: 50px; }
    .aboutUsText .moreInfobtn a {
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7;
      padding: 10px 20px 10px 20px;
      background-color: #ff4500;
      transition: 0.6s; }
    .aboutUsText .moreInfobtn a:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }
    @media only screen and (max-width: 425px) {
      .aboutUsText .moreInfobtn {
        margin-top: 30px; } }
  @media only screen and (max-width: 768px) {
    .aboutUsText {
      width: 384px; } }
  @media only screen and (max-width: 425px) {
    .aboutUsText {
      height: 600px; } }

#aslShowcase {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/yellow.jpeg);
  background-size: cover;
  background-position: center;
  background-position: top;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  margin-top: 60px; }
  @media only screen and (max-width: 425px) {
    #aslShowcase {
      height: 30vh;
      background-attachment: unset; } }

.aslContent {
  float: right;
  padding-top: 140px;
  padding-right: 60px; }
  .aslContent h1 {
    font-size: 40px;
    font-weight: lighter;
    color: #e7e7e7;
    text-transform: capitalize; }
    @media only screen and (max-width: 768px) {
      .aslContent h1 {
        font-size: 24px; } }
    @media only screen and (max-width: 425px) {
      .aslContent h1 {
        font-size: 22px;
        text-align: center; } }
  .aslContent p {
    font-size: 20px;
    font-weight: lighter;
    width: 500px;
    color: #e7e7e7; }
    @media only screen and (max-width: 768px) {
      .aslContent p {
        width: 350px; } }
    @media only screen and (max-width: 425px) {
      .aslContent p {
        display: none; } }
  .aslContent .aslMoreBtn {
    margin-top: 20px; }
    .aslContent .aslMoreBtn a {
      background-color: #ff4500;
      padding: 10px 20px 10px 20px;
      font-size: 18px;
      font-weight: lighter;
      color: #e7e7e7;
      transition: 0.6s; }
    .aslContent .aslMoreBtn a:hover {
      box-shadow: 5px 5px 10px black;
      background-color: #00a2e8; }
    @media only screen and (max-width: 425px) {
      .aslContent .aslMoreBtn {
        margin-left: 110px; } }
  @media only screen and (max-width: 768px) {
    .aslContent {
      padding-right: 5px;
      padding-top: 130px; } }
  @media only screen and (max-width: 425px) {
    .aslContent {
      padding-top: 80px;
      width: 100%; } }

#homeContact {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#mapLoc {
  height: 500px;
  width: 500px; }
  @media only screen and (max-width: 425px) {
    #mapLoc {
      display: none; } }

.contactInfo {
  padding-top: 40px;
  padding-left: 60px;
  text-align: left;
  height: 500px;
  width: 500px;
  background-color: #f5f5f5; }
  @media only screen and (max-width: 425px) {
    .contactInfo {
      padding-left: 20px; } }

.contactList .contactTitle {
  font-size: 30px;
  font-weight: lighter;
  text-transform: capitalize; }
.contactList .contactFlex {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: unset;
  align-items: unset; }
  .contactList .contactFlex h3 {
    font-size: 24px; }
    .contactList .contactFlex h3 #contactIcon {
      padding-right: 10px; }
    @media only screen and (max-width: 768px) {
      .contactList .contactFlex h3 {
        width: 100px;
        font-size: 18px; } }
    @media only screen and (max-width: 425px) {
      .contactList .contactFlex h3 {
        width: 130px; } }
  .contactList .contactFlex p,
  .contactList .contactFlex a {
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    width: 250px;
    padding-left: 30px; }
    @media only screen and (max-width: 768px) {
      .contactList .contactFlex p,
      .contactList .contactFlex a {
        font-size: 18px;
        padding-left: 10px; } }

.rightChoice {
  height: 40vh;
  width: 100%;
  margin-top: 40px; }
  @media only screen and (max-width: 425px) {
    .rightChoice {
      height: 100%;
      margin-bottom: 40px; } }

.rightTitle {
  text-align: center; }
  .rightTitle h2 {
    font-size: 26px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize; }

.factsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px; }
  @media only screen and (max-width: 425px) {
    .factsRow {
      flex-direction: column; } }

.fact {
  width: 400px;
  height: 200px;
  text-align: center;
  background-color: #f5f5f5;
  border: 3px solid #ff4500;
  transition: 0.6s; }
  .fact h3 {
    font-size: 24px;
    font-weight: lighter;
    color: #303030;
    text-transform: capitalize;
    padding-top: 40px; }
    @media only screen and (max-width: 768px) {
      .fact h3 {
        padding-top: 10px; } }
  .fact p {
    font-size: 16px;
    font-weight: lighter;
    color: #303030;
    line-height: 24px;
    width: 350px;
    margin-left: 20px; }
    @media only screen and (max-width: 1024px) {
      .fact p {
        width: 300px; } }
    @media only screen and (max-width: 768px) {
      .fact p {
        width: 200px; } }
    @media only screen and (max-width: 425px) {
      .fact p {
        width: 300px;
        margin-left: 0;
        margin-top: 10px; } }
  @media only screen and (max-width: 1024px) {
    .fact {
      width: 340px; } }
  @media only screen and (max-width: 768px) {
    .fact {
      width: 250px; } }
  @media only screen and (max-width: 425px) {
    .fact {
      width: 300px;
      margin-top: 20px; } }

.fact:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px black;
  background-color: #00a2e8;
  background-color: #f5f5f5; }

.homeVisitShowcase {
  background: linear-gradient(to right, #30303078, #3030306d), url(../img/housemeet.jpeg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  background-position: top;
  background-attachment: fixed; }
  @media only screen and (max-width: 425px) {
    .homeVisitShowcase {
      height: 30vh; } }

.visitContent {
  padding-top: 170px;
  text-align: center; }
  .visitContent .visitTitle {
    font-size: 34px;
    font-weight: lighter;
    color: #e7e7e7;
    text-transform: capitalize; }
    @media only screen and (max-width: 425px) {
      .visitContent .visitTitle {
        font-size: 24px; } }
  @media only screen and (max-width: 425px) {
    .visitContent {
      padding-top: 90px; } }

.ourValue {
  width: 100%; }

.ourValuesText {
  text-align: center;
  margin-top: 40px; }
  .ourValuesText h2 {
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize; }
  .ourValuesText p {
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    width: 700px;
    margin-top: 20px;
    margin-left: 360px; }
    @media only screen and (max-width: 1024px) {
      .ourValuesText p {
        margin-left: 270px; } }
    @media only screen and (max-width: 768px) {
      .ourValuesText p {
        margin-left: 130px; } }
    @media only screen and (max-width: 425px) {
      .ourValuesText p {
        width: 400px;
        margin-left: 0px; } }

.valuesRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset;
  margin-top: 40px; }
  @media only screen and (max-width: 425px) {
    .valuesRow {
      flex-direction: column;
      margin-left: 50px; } }

.box {
  text-align: center;
  width: 300px;
  border: 3px solid #ff4500;
  padding: 20px;
  background-color: #f5f5f5; }
  .box #globeStyle {
    font-size: 40px;
    font-weight: lighter; }
  .box .valueTitle {
    font-size: 24px;
    font-weight: lighter;
    text-transform: capitalize; }
  .box .valuePara {
    font-size: 17px;
    color: #303030; }
    @media only screen and (max-width: 768px) {
      .box .valuePara {
        font-size: 14px; } }
  @media only screen and (max-width: 425px) {
    .box {
      padding-top: 20px; } }

.valueContact {
  margin-top: 40px;
  margin-left: 640px;
  margin-bottom: 40px; }
  .valueContact a {
    font-size: 20px;
    background-color: #ff4500;
    padding: 10px 20px 10px 20px;
    color: #e7e7e7;
    transition: 0.6s; }
  .valueContact a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }
  @media only screen and (max-width: 1024px) {
    .valueContact {
      margin-left: 440px; } }
  @media only screen and (max-width: 768px) {
    .valueContact {
      margin-left: 320px; } }
  @media only screen and (max-width: 425px) {
    .valueContact {
      margin-left: 140px; } }

.serviceContain {
  text-align: center; }
  .serviceContain .serviceIntro {
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #303030;
    padding-top: 40px; }
  .serviceContain .mainServiceDes {
    font-size: 17px;
    font-weight: lighter;
    width: 650px;
    margin-top: 10px;
    margin-left: 400px; }
    @media only screen and (max-width: 1024px) {
      .serviceContain .mainServiceDes {
        margin-left: 250px; } }
    @media only screen and (max-width: 768px) {
      .serviceContain .mainServiceDes {
        margin-left: 120px; } }
    @media only screen and (max-width: 425px) {
      .serviceContain .mainServiceDes {
        width: 390px;
        margin-left: 10px; } }
  .serviceContain .fa-comment {
    font-size: 30px;
    color: #ff4500;
    padding-top: 10px; }
  .serviceContain a {
    font-size: 20px;
    font-weight: lighter;
    color: #303030;
    padding-left: 10px; }
  .serviceContain a:hover {
    color: #00a2e8; }

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 40px;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 30px; }
  @media only screen and (max-width: 1024px) {
    .gridContainer {
      margin-left: 30px; } }
  @media only screen and (max-width: 768px) {
    .gridContainer {
      grid-template-columns: auto auto;
      margin-left: 60px; } }
  @media only screen and (max-width: 425px) {
    .gridContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 0px; } }

.serviceType {
  width: 400px;
  transition: 0.6s;
  z-index: 99;
  overflow-x: hidden;
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7; }
  .serviceType #gridPhto {
    height: 220px;
    width: 400px;
    transition: 0.6s; }
  .serviceType #gridPhto:hover {
    transform: scale(1.1); }
  @media only screen and (max-width: 1024px) {
    .serviceType {
      width: 300px; } }
  @media only screen and (max-width: 425px) {
    .serviceType {
      margin-top: 20px; } }

.serviceContentContain .serviceTitle {
  font-size: 26px;
  font-weight: lighter;
  text-transform: capitalize;
  color: #303030;
  text-align: left;
  padding-left: 10px; }
.serviceContentContain .serviceSubtext {
  font-size: 17px;
  font-weight: lighter;
  padding-left: 10px;
  text-align: left;
  width: 380px; }

.serviceLinks {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px; }
  .serviceLinks a {
    font-size: 18px;
    font-weight: lighter;
    color: #e7e7e7;
    background-color: #ff4500;
    transition: 0.6s;
    padding: 10px 20px 10px 20px; }
  .serviceLinks a:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8; }
  @media only screen and (max-width: 1024px) {
    .serviceLinks {
      margin-left: 90px; } }

.portContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: unset;
  margin-left: 50px; }

.postPhto img {
  width: 700px;
  height: 400px; }

.portContent {
  padding-top: 30px;
  width: 700px; }
  .portContent .portTitle {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    text-transform: capitalize;
    color: #ff4500; }
  .portContent .paraBlockOne,
  .portContent .paraBlockTwo {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px; }
  .portContent .ownerQuoteBlock {
    height: 180px;
    width: 700px;
    background-color: #ff4500;
    text-align: center; }
    .portContent .ownerQuoteBlock .ownerQuote {
      font-size: 24px;
      color: white;
      font-weight: lighter;
      text-transform: capitalize;
      width: 450px;
      margin-left: 120px;
      padding-top: 50px; }

.rightNav {
  width: 500px; }
  .rightNav .servIcons {
    height: 400px;
    width: 500px;
    background-color: #f5f5f5; }
  .rightNav .mreServices {
    height: 400px;
    width: 500px; }
  .rightNav .appLink {
    height: 200px;
    background-color: blue; }
  .rightNav #asideMap {
    height: 200px;
    background-color: black; }

.mainContactUs {
  width: 100%; }

.contactRow {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  margin-left: 110px; }
  @media only screen and (max-width: 1024px) {
    .contactRow {
      width: 1000px;
      margin-left: 10px; } }
  @media only screen and (max-width: 768px) {
    .contactRow {
      width: 700px;
      margin-left: 40px; } }
  @media only screen and (max-width: 425px) {
    .contactRow {
      width: 400px;
      flex-direction: column;
      margin-left: 0px; } }

.location {
  width: 360px;
  border: 2px solid #30303030;
  text-align: center;
  padding: 20px;
  transition: 0.6s; }
  .location #globeConStyle {
    font-size: 30px;
    color: #e7e7e7;
    background-color: #00a2e8;
    border-radius: 50%;
    padding: 20px; }
  .location .address {
    font-size: 26px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #303030; }
  @media only screen and (max-width: 1024px) {
    .location {
      width: 300px; } }
  @media only screen and (max-width: 768px) {
    .location {
      width: 225px; } }
  @media only screen and (max-width: 425px) {
    .location {
      margin-bottom: 20px; } }

.location:hover {
  box-shadow: 5px 5px 10px black;
  background-color: #00a2e8;
  background-color: #ff4500;
  transform: scale(1.1); }

.emailBlock {
  height: 194px;
  width: 360px;
  border: 2px solid #30303030;
  text-align: center;
  padding: 20px;
  transition: 0.6s; }
  .emailBlock #globeConStyle {
    font-size: 30px;
    color: #e7e7e7;
    background-color: #ff4500;
    border-radius: 50%;
    padding: 20px; }
  .emailBlock .emailTitle {
    font-size: 26px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #303030; }
  @media only screen and (max-width: 1024px) {
    .emailBlock {
      width: 300px; } }
  @media only screen and (max-width: 768px) {
    .emailBlock {
      width: 225px;
      height: 215px; } }
  @media only screen and (max-width: 425px) {
    .emailBlock {
      margin-bottom: 20px; } }

.emailBlock:hover {
  background-color: #00a2e8;
  box-shadow: 5px 5px 10px black;
  background-color: #00a2e8;
  transform: scale(1.1); }

.phoneBlock {
  height: 194px;
  width: 360px;
  border: 2px solid #30303030;
  text-align: center;
  padding: 20px;
  transition: 0.6s; }
  .phoneBlock #globeConStyle {
    font-size: 30px;
    color: #e7e7e7;
    background-color: #00a2e8;
    border-radius: 50%;
    padding: 20px; }
  .phoneBlock .phoneTitle {
    font-size: 26px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #303030; }
  @media only screen and (max-width: 1024px) {
    .phoneBlock {
      width: 300px; } }
  @media only screen and (max-width: 768px) {
    .phoneBlock {
      width: 225px;
      height: 215px; } }

.phoneBlock:hover {
  box-shadow: 5px 5px 10px black;
  background-color: #00a2e8;
  background-color: #ff4500;
  transform: scale(1.1); }

.messageForm {
  height: 600px;
  width: 1200px;
  background-color: #e7e7e7;
  margin-top: 100px;
  margin-left: 110px;
  transition: 0.6s; }
  .messageForm .formTitle {
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize;
    color: #303030;
    text-align: center;
    padding-top: 120px; }
  @media only screen and (max-width: 1024px) {
    .messageForm {
      width: 1000px;
      margin-left: 10px; } }
  @media only screen and (max-width: 768px) {
    .messageForm {
      width: 700px;
      margin-left: 40px; } }
  @media only screen and (max-width: 425px) {
    .messageForm {
      width: 390px;
      margin-left: 6px; } }

.contactForm {
  padding-top: 20px;
  padding-left: 180px; }
  .contactForm #nameInput {
    height: 40px;
    width: 400px;
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    padding-left: 10px; }
    @media only screen and (max-width: 768px) {
      .contactForm #nameInput {
        width: 300px;
        margin-left: 30px; } }
    @media only screen and (max-width: 425px) {
      .contactForm #nameInput {
        width: 360px;
        margin-left: 0px; } }
  .contactForm #emailInput {
    height: 40px;
    width: 400px;
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    padding-left: 10px; }
    @media only screen and (max-width: 768px) {
      .contactForm #emailInput {
        width: 300px; } }
    @media only screen and (max-width: 425px) {
      .contactForm #emailInput {
        width: 360px;
        margin-top: 20px; } }
  .contactForm #messageInput {
    height: 200px;
    width: 800px;
    font-size: 18px;
    font-weight: lighter;
    color: #303030;
    padding-left: 10px;
    margin-top: 20px; }
    @media only screen and (max-width: 768px) {
      .contactForm #messageInput {
        width: 660px; } }
    @media only screen and (max-width: 425px) {
      .contactForm #messageInput {
        width: 360px;
        padding-left: 0px; } }
  .contactForm .subMesBtn {
    height: 40px;
    width: 90px;
    margin-left: 710px;
    font-size: 18px;
    font-weight: lighter;
    transition: 0.6s; }
    @media only screen and (max-width: 768px) {
      .contactForm .subMesBtn {
        margin-left: 570px; } }
    @media only screen and (max-width: 425px) {
      .contactForm .subMesBtn {
        margin-left: 270px; } }
  .contactForm .subMesBtn:hover {
    box-shadow: 5px 5px 10px black;
    background-color: #00a2e8;
    background-color: #ff4500; }
  @media only screen and (max-width: 1024px) {
    .contactForm {
      padding-left: 120px; } }
  @media only screen and (max-width: 768px) {
    .contactForm {
      padding-left: 20px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style-type: none; }

/*# sourceMappingURL=app.css.map */
