.rightChoice {
  height: 40vh;
  width: 100%;
  margin-top: 40px;
  //Responsive
  @include Mobile {
    height: 100%;
    margin-bottom: 40px;
  }
}
.rightTitle {
  text-align: center;
  h2 {
    font-size: 26px;
    font-weight: $global-weight;
    color: $primary-text;
    text-transform: capitalize;
    @include Mobile {
      font-size: 24px;
    }
  }
}

.threeFacts {
  height: auto;
  width: 100%;
}
.factsRow {
  width: 90%;
  @include Display(row, space-evenly, center);
  padding-top: 30px;
  margin-left: 70px;
  //Responsive
  @include Laptop {
    margin-left: 50px;
  }
  @include lgLaptop {
    margin-left: 40px;
  }
  @include Mobile {
    flex-direction: column;
    margin-left: 30px;
  }
}
.fact {
  width: 28vw;
  height: 22vh;
  text-align: center;
  background-color: #f5f5f5;
  border: 3px solid $primary-orange;
  transition: $global-Trans;
  //Fact Responsive
  @include Laptop {
    width: 26vw;
  }
  @include lgMobile {
    width: 28vw;
  }
  @include Mobile {
    width: 60vw;
    margin-top: 10px;
  }
  h3 {
    font-size: 24px;
    font-weight: $global-weight;
    color: $primary-text;
    text-transform: capitalize;
    padding-top: 40px;
    //Responsive
    @include Laptop {
      padding-top: 20px;
      font-size: 20px;
    }
    @include Tablet {
      padding-top: 10px;
      font-size: 18px;
    }
    @include Mobile {
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    font-weight: $global-weight;
    color: $primary-text;
    line-height: 24px;
    width: 90%;
    margin-left: 20px;
    //Responsive
    @include Laptop {
      font-size: 14px;
    }
    @include Tablet {
      margin-left: 10px;
      line-height: unset;
    }
    @include Mobile {
      font-size: 16px;
    }
  }
}
.fact:hover {
  transform: scale(1.1);
  @include btnEffect;
  background-color: #f5f5f5;
}
//Home Vist Section
.homeVisitShowcase {
  @include Background(url(../img/housemeet.jpeg));
  height: 50vh;
  width: 100%;
  background-position: top;
  background-attachment: fixed;
  //Responsive
  @include Mobile {
    height: 30vh;
  }
}
.visitContent {
  padding-top: 170px;
  text-align: center;
  .visitTitle {
    font-size: 34px;
    font-weight: $global-weight;
    color: $button-text;
    text-transform: capitalize;
    //Responsive
    @include Mobile {
      font-size: 24px;
    }
  }
  //Visit Content Responsive
  @include Mobile {
    padding-top: 90px;
  }
}
.ourValue {
  width: 100%;
}
.ourValuesText {
  text-align: center;
  margin-top: 40px;
  h2 {
    font-size: 30px;
    font-weight: $global-weight;
    text-transform: capitalize;
  }
  p {
    font-size: 18px;
    font-weight: $global-weight;
    color: $primary-text;
    width: 47%;
    margin-top: 20px;
    margin-left: 360px;
    //Responsive
    @include lgLaptop {
      margin-left: 320px;
    }
    @include Laptop {
      margin-left: 270px;
    }
    @include Tablet {
      margin-left: 160px;
      width: 60%;
    }
    @include lgMobile {
      width: 80%;
      margin-left: 60px;
    }
    @include Mobile {
      width: 400px;
      margin-left: 10px;
    }
  }
}
.valuesRow {
  @include Display(row, space-evenly, unset);
  margin-top: 40px;
  //Responsive
  @include Mobile {
    flex-direction: column;
    margin-left: 90px;
  }
}
.box {
  text-align: center;
  width: 20%;
  border: 3px solid $primary-orange;
  padding: 20px;
  background-color: #f5f5f5;
  //Box responsive
  @include Mobile {
    width: 70%;
    margin-top: 12px;
    padding-top: 20px;
  }
  #globeStyle {
    font-size: 40px;
    font-weight: $global-weight;
    //Responsive
    @include lgMobile {
      font-size: 26px;
    }
  }
  .valueTitle {
    font-size: 24px;
    font-weight: $global-weight;
    text-transform: capitalize;
    //Responsive
    @include lgMobile {
      font-size: 18px;
    }
  }
  .valuePara {
    font-size: 17px;
    color: $primary-text;
    //responsive
    @include Tablet {
      font-size: 14px;
    }
  }
}
.valueContact {
  margin-top: 40px;
  margin-left: 640px;
  margin-bottom: 40px;
  //Value Contact Responsive
  @include lgLaptop {
    margin-left: 530px;
  }
  @include Laptop {
    margin-left: 440px;
  }
  @include Tablet {
    margin-left: 320px;
  }
  @include lgMobile {
    margin-left: 250px;
  }
  @include Mobile {
    margin-left: 140px;
  }
  a {
    font-size: 20px;
    background-color: $primary-orange;
    padding: $Btn;
    color: $button-text;
    transition: $global-Trans;
  }
  a:hover {
    @include btnEffect;
  }
}
