.contactRowContainer {
  width: 100%;
  @include Display(row, unset, center);
  padding-left: 120px;
}
.contactOption {
  width: 400px;
  height: 200px;
  padding: 30px;
  text-align: center;
  margin-top: 100px;
  .optIcon {
    font-size: 30px;
    padding-top: 20px;
  }
  h2 {
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 24px;
  }
  p {
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 18px;
  }
}
.contactAddress,
.contactPgEmail {
  border-right: 2px solid $primary-orange;
}
.messageContainer {
  height: 640px;
  width: 1300px;
  margin-top: 120px;
  margin-left: 70px;
  background-color: white;
  border: 4px solid #f5f5f5;
  position: relative;
  z-index: 100;
  margin-bottom: 40px;
}
.sendMessage {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  h2 {
    font-family: $primary-text;
    font-size: 30px;
    font-weight: lighter;
    color: $primary-font;
    text-transform: capitalize;
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    color: $primary-orange;
    text-transform: capitalize;
  }
}
.messageForm {
  margin-top: 100px;
  margin-left: 240px;
  z-index: 99;
  .input {
    font-size: 20px;
    font-weight: lighter;
    width: 400px;
    height: 40px;
    background-color: #f5f5f5;
    border: 4px solid #f5f5f5;
    padding-left: 10px;
  }
  // .Name {
  //   margin-left: 50px;
  // }
  .messageInput {
    font-size: 20px;
    font-weight: lighter;
    padding: 12px 0 0 20px;
    display: block;
    height: 230px;
    width: 800px;
    margin-top: 40px;
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
  }
}
.submitBtn {
  font-size: 17px;
  font-weight: lighter;
  padding: 10px;
  width: 120px;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.6s;
}
.submitBtn:hover {
  background-color: $primary-orange;
  color: #fff;
}
.mapOverlay {
  height: 50vh;
  position: relative;
  z-index: 99;
  background-color: black;
  opacity: 0.4;
}
.contMap {
  height: 50vh;
  width: 100%;
  background-color: black;
  margin-top: -400px;
}
