.contactRowContainer {
  width: 100%;
  @include Display(row, unset, center);
  padding-left: 120px;
  //Responsive
  @include Laptop {
    padding-left: 50px;
  }
  @include lgMobile {
    padding-left: 30px;
  }
  @include Mobile {
    @include Display(column, unset, unset);
    padding-left: 50px;
  }
}
.contactOption {
  width: 30vw;
  height: 24vh;
  padding: 30px;
  text-align: center;
  margin-top: 100px;
  //Responsive
  @include Tablet {
    padding: 16px;
  }
  @include lgMobile {
    padding: 24px 4px 4px 4px;
  }
  @include Mobile {
    width: 90%;
    margin-top: 60px;
  }
  .optIcon {
    font-size: 30px;
    padding-top: 20px;
    //Responsive
    @include lgDesktop {
      font-size: 50px;
    }
    @include Desktop {
      font-size: 40px;
    }
  }
  h2 {
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 24px;
    //Responsive
    @include lgDesktop {
      font-size: 60px;
    }
    @include Desktop {
      font-size: 44px;
    }
    @include lgMobile {
      font-size: 20px;
    }
    @include Mobile {
      font-size: 24px;
    }
  }
  p {
    font-family: $primary-font;
    font-weight: lighter;
    font-size: 18px;
    //Responsive
    @include lgDesktop {
      font-size: 40px;
    }
    @include Desktop {
      font-size: 30px;
    }
    @include lgMobile {
      font-size: 14px;
    }
    @include Mobile {
      font-size: 20px;
      width: 100%;
    }
  }
}
.contactAddress,
.contactPgEmail {
  border-right: 2px solid $primary-orange;
  //Responsive
  @include Mobile {
    border: none;
  }
}
.messageContainer {
  height: 86vh;
  width: 90%;
  margin-top: 120px;
  margin-left: 70px;
  background-color: white;
  border: 4px solid #f5f5f5;
  box-shadow: 0px 2px 10px #30303092;
  position: relative;
  z-index: 100;
  margin-bottom: 40px;
  //Responsive
  @include Laptop {
    margin-left: 50px;
  }
  @include lgMobile {
    margin-left: 30px;
  }
  @include Mobile {
    margin-left: 24px;
  }
}
.sendMessage {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
  h2 {
    font-family: $primary-text;
    font-size: 30px;
    font-weight: lighter;
    color: $primary-font;
    text-transform: capitalize;
    //Responsive
    @include lgDesktop {
      font-size: 60px;
    }
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    color: $primary-orange;
    text-transform: capitalize;
    //Responsive
    @include lgDesktop {
      font-size: 40px;
    }
  }
}
.messageForm {
  margin-top: 60px;
  margin-left: 240px;
  z-index: 99;
  //Responsive
  @include Desktop {
    margin-left: 270px;
  }
  @include Laptop {
    margin-left: 168px;
  }
  @include Tablet {
    margin-left: 120px;
  }
  @include lgMobile {
    margin-left: 90px;
  }
  @include Mobile {
    margin-left: 70px;
  }
  .inputContain {
    @include Display(row, space-evenly, unset);
    width: 56vw;
    //Responsive
    @include lgDesktop {
      width: 90%;
    }
    @include Desktop {
      width: 80%;
    }
  }
  .nameInputContain,
  .emailInputContain {
    width: 40%;
  }
  label {
    font-size: 18px;
    //Responsive
    @include lgDesktop {
      font-size: 50px;
    }
    @include Desktop {
      font-size: 30px;
    }
  }
  .input {
    font-size: 20px;
    font-weight: lighter;
    height: 5vh;
    width: 100%;
    background-color: #f5f5f5;
    border: 4px solid #f5f5f5;
    padding-left: 10px;
    display: block;
  }
  .mesInputContain {
    margin-top: 30px;
    .messageInput {
      font-size: 20px;
      font-weight: lighter;
      padding: 12px 0 0 20px;
      display: block;
      height: 30vh;
      width: 56vw;
      background-color: #f5f5f5;
      border: 1px solid #f5f5f5;
      //Responsive
      @include lgDesktop {
        width: 72vw;
        height: 34vh;
      }
      @include Desktop {
        width: 62vw;
      }
    }
  }
}
.submitBtn {
  font-size: 17px;
  font-weight: lighter;
  padding: 10px;
  width: 120px;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.6s;
  //Responsive
  @include lgDesktop {
    font-size: 40px;
    width: 180px;
  }
  @include Desktop {
    font-size: 30px;
  }
  @include Mobile {
    margin-left: 50px;
  }
}
.submitBtn:hover {
  background-color: $primary-orange;
  color: #fff;
  box-shadow: 5px 5px 10px black;
}
.contMap {
  height: 50vh;
  width: 100%;
  background-color: black;
}
