#globalFoot {
  width: 100%;
  background-color: #e4e4e4;
  padding: 10px;
}
.copyRight {
  @include Display(row, space-between, unset);
  p {
    padding-left: 60px;
    //Responsive
    @include Mobile {
      font-size: 12px;
      padding-left: 10px;
    }
  }
}
.phoneNum {
  h3 {
    padding-right: 60px;
    //Responsive
    @include Mobile {
      font-size: 12px;
      padding-right: 10px;
    }
  }
}
