#showcaseImg {
  @include Background(url("https://gdurl.com/lLIfM"));
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  //Responsive
  @include lgMobile {
    height: 40vh;
  }
}
.showLogo {
  display: inline-flex;
  height: 200px;
  width: 400px;
  padding-left: 60px;
  padding-top: 40px;
  //Responsive
  @include lgDesktop {
    height: 400px;
    width: 620px;
  }
  @include Desktop {
    height: 300px;
    width: 480px;
  }
  @include lgMobile {
    display: none;
  }
  @include Tablet {
    pdding-top: 0px;
  }
  .hmeLink {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition-duration: 0.8s;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
#mainNav {
  opacity: 0;
  width: 0%;
  transition-duration: 1.5s;
  // transition-delay: 0.6s;
  @include lgMobile {
    margin-right: 0;
    opacity: 1;
    @include Display(row, unset, unset);
    height: 84px;
  }
}
.navSet {
  float: right;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #d5d4d41b, #00a2e85a);
  opacity: 0;
  transition-duration: 0.8s;
  border: none;
  //Responsive
  @include lgMobile {
    float: none;
    background-color: transparent;
    width: 100%;
  }
  #closeBtn {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 30px;
    color: $button-text;
    transition: 0.6s;
    //Responsive
    @include lgDesktop {
      font-size: 80px;
    }
    @include Desktop {
      font-size: 60px;
    }
    @include lgMobile {
      display: none;
    }
  }
  #closeBtn:hover {
    color: $primary-orange;
  }
  .logo {
    padding-top: 40px;
    padding-left: 40px;
    // Responsive
    @include lgDesktop {
      padding-left: 160px;
    }
    @include Desktop {
      padding-left: 90px;
    }
    @include lgMobile {
      padding-top: 0px;
      padding-left: 10px;
    }
    img {
      height: 200px;
      width: 90%;
      //responsive
      @include lgDesktop {
        height: 400px;
        width: 80%;
      }
      @include Desktop {
        height: 300px;
        width: 80%;
      }
      @include lgMobile {
        height: 100px;
        width: 110px;
      }
      @include medMobile {
        height: 80px;
        width: 80px;
      }
    }
  }
  #menu {
    @include Display(column, space-evenly, unset);
    height: auto;
    text-align: center;
    padding-top: 30px;
    //Responsive
    @include lgMobile {
      @include Display(row, space-evenly, unset);
      padding-top: 10px;
      height: 40px;
      width: 70vw;
    }
    a {
      font-size: 30px;
      font-weight: $global-weight;
      color: $button-text;
      text-transform: capitalize;
      padding-top: 20px;
      width: 100%;
      text-align: ceter;
      transition: 0.6s;
      //Responsive
      @include lgDesktop {
        font-size: 60px;
        padding-top: 30px;
      }
      @include Desktop {
        font-size: 50px;
      }
      @include lgMobile {
        font-size: 16px;
        margin-left: 10px;
      }
      @include medMobile {
        font-size: 14px;
      }
    }
    a:hover {
      color: $primary-orange;
    }
  }
  .appointmentBtn {
    width: 80%;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    opacity: 0;
    transition-duration: 1.2s;
    //Responsive
    @include lgDesktop {
      margin-top: 90px;
      margin-left: 60px;
    }
    @include Desktop {
      margin-left: 50px;
    }
    @include lgMobile {
      display: none;
    }
    a {
      background-color: $primary-orange;
      font-size: 20px;
      color: $button-text;
      font-weight: $global-weight;
      text-transform: capitalize;
      padding: $Btn;
      transition: $global-Trans;
      //Responsive
      @include lgDesktop {
        font-size: 50px;
      }
      @include Desktop {
        font-size: 30px;
      }
    }
    a:hover {
      @include btnEffect;
    }
  }
}
#openBtn {
  font-size: 60px;
  color: $primary-orange;
  margin-right: 60px;
  float: right;
  opacity: 1;
  transition-duration: 1s;
  //Responisve
  @include lgDesktop {
    font-size: 140px;
  }
  @include Desktop {
    font-size: 100px;
  }
  @include lgMobile {
    opacity: 0;
  }
}
#openBtn:hover {
  color: $primary-blue;
}
#introHead {
  padding-top: 200px;
  padding-left: 60px;
  //Responsive
  @include lgDesktop {
    padding-top: 400px;
  }
  @include Desktop {
    padding-top: 300px;
  }
  @include Tablet {
    padding-top: 215px;
  }
  @include lgMobile {
    padding-top: 40px;
    padding-left: 10px;
  }
  h1 {
    font-size: 50px;
    font-weight: $global-weight;
    text-transform: capitalize;
    color: $button-text;
    //Responsive
    @include lgDesktop {
      font-size: 90px;
    }
    @include Desktop {
      font-size: 70px;
    }
    @include Tablet {
      font-size: 34px;
    }
    @include lgMobile {
      font-size: 20px;
    }
  }
  p {
    font-size: 24px;
    color: $button-text;
    //Responsive
    @include lgDesktop {
      font-size: 50px;
    }
    @include Desktop {
      font-size: 30px;
    }
    @include Tablet {
      font-size: 18px;
    }
    @include lgMobile {
      font-size: 12px;
    }
  }
}
#introBtn {
  padding-top: 30px;
  padding-left: 60px;
  a {
    background-color: $primary-orange;
    padding: $Btn;
    font-size: 18px;
    font-weight: $global-weight;
    text-transform: capitalize;
    color: $button-text;
    transition: $global-Trans;
    //Responsive
    @include lgDesktop {
      font-size: 40px;
    }
    @include Desktop {
      font-size: 30px;
    }
    @include lgMobile {
      font-size: 14px;
      padding: 5px 10px 5px 10px;
    }
  }
  a:hover {
    @include btnEffect;
  }
  a:nth-last-child(1) {
    margin-left: 20px;
  }
  //Intro Btn Responsive
  @include lgMobile {
    padding-left: 10px;
  }
}
