//Trust Section
#trustSection {
  height: auto;
  width: 100%;
}
.trustContent {
  height: 70vh;
  width: 70%;
  margin-top: 60px;
  margin-left: 220px;
  @include Display(row, center, center);
  //Responsive
  @include lgLaptop {
    margin-left: 170px;
  }
  @include Laptop {
    margin-left: 160px;
  }
  @include Tablet {
    margin-left: 120px;
  }
  @include lgMobile {
    margin-left: 90px;
  }
  @include Mobile {
    margin-left: 70px;
  }
  .trustPhoto {
    height: 70vh;
    width: 50%;
    //Responsive
    @include Mobile {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .trustText {
    background-color: white;
    border: 4px solid #f5f5f5;
    height: 100%;
    width: 50%;
    text-align: center;
    padding-top: 60px;
    box-shadow: 4px 4px 10px #30303092;
    //Responsive
    @include Tablet {
      padding-top: 20px;
    }
    @include Mobile {
      width: 100%;
      padding-top: 60px;
    }
    h3 {
      font-size: 30px;
      font-weight: $global-weight;
      text-transform: capitalize;
      color: $primary-text;
      //Responsive
      @include Laptop {
        font-size: 24px;
      }
      @include Mobile {
        font-size: 20px;
      }
    }
    .subTitle {
      font-size: 20px;
      font-weight: $global-weight;
      text-transform: capitalize;
      color: $primary-orange;
      padding-top: 10px;
    }
    .trustDesc1 {
      font-size: 18px;
      width: 90%;
      margin-top: 20px;
      margin-left: 20px;
      //Responsive
      @include lgMobile {
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .trustDesc2 {
      font-size: 18px;
      width: 90%;
      margin-top: 20px;
      margin-left: 20px;
      //Responsive
      @include lgMobile {
        font-size: 16px;
        margin-left: 10px;
      }
    }
    .fa-comment {
      padding-top: 30px;
      font-size: 30px;
      color: $primary-orange;
      transition: $global-Trans;
    }
    .fa-comment:hover {
      color: $primary-blue;
    }
    .emailLink {
      padding-top: 20px;
      a {
        font-size: 20px;
        font-weight: $global-weight;
        color: $primary-text;
        transition: $global-Trans;
        //Responsive
        @include lgMobile {
          font-size: 14px;
        }
      }
      a:hover {
        color: $primary-blue;
      }
    }
  }
}
//Care Type Row
#careTypeContain {
  height: 20vh;
  width: 100%;
  .careRow {
    height: 20vh;
    width: 60%;
    @include Display(row, space-evenly, center);
    margin-left: 270px;
    overflow-y: hidden;
    //Responsive
    @include lgLaptop {
      margin-left: 220px;
    }
    @include Laptop {
      margin-left: 210px;
    }
    @include Tablet {
      margin-left: 160px;
    }
    @include lgMobile {
      margin-left: 100px;
    }
  }
  .careType {
    text-align: center;
    #careIcon {
      font-size: 40px;
      color: $primary-orange;
    }
    h3 {
      font-size: 24px;
      text-transform: capitalize;
      font-weight: $global-weight;
      color: $primary-text;
      //Responsive
      @include Tablet {
        font-size: 22px;
      }
      @include lgMobile {
        font-size: 18px;
      }
    }
    .readMore {
      a {
        font-size: 18px;
        color: $primary-orange;
        text-transform: capitalize;
        transition: $global-Trans;
      }
      a:hover {
        color: $primary-blue;
      }
    }
  }
}
.contactShowcase {
  @include Background(url(../img/img10.jpg));
  background-attachment: fixed;
  height: 70vh;
  width: 100%;
  //Responsive
  @include Mobile {
    background-attachment: unset;
    height: 40vh;
  }
  .contactText {
    padding-top: 200px;
    text-align: center;
    //Responsive
    @include Mobile {
      padding-top: 90px;
    }
    h2 {
      font-size: 40px;
      font-weight: $global-weight;
      text-transform: capitalize;
      color: $button-text;
      //Responsive
      @include Mobile {
        font-size: 30px;
      }
    }
    #conClick {
      font-size: 18px;
      font-weight: lighter;
      color: $button-text;
      text-transform: capitalize;
      background-color: $primary-orange;
      padding: $Btn;
      margin-top: 40px;
      margin-left: 630px;
      width: 160px;
      transition: $global-Trans;
      cursor: pointer;
      //Responsive
      @include lgLaptop {
        margin-left: 510px;
      }
      @include Laptop {
        margin-left: 430px;
      }
      @include Tablet {
        margin-left: 300px;
      }
      @include lgMobile {
        margin-left: 210px;
      }
      @include Mobile {
        margin-left: 140px;
      }
    }
    #conClick:hover {
      @include btnEffect;
    }
  }
}
#contactBar {
  @include Display(row, space-evenly, center);
  margin-top: -120px;
  //Responsive
  @include lgMobile {
    @include Display(column, space-evenly, center);
    margin-top: 0px;
  }
  .block {
    height: 300px;
    width: 300px;
    border: 2px solid #a5a5a52a;
    background-color: #f9f9f9;
    text-align: left;
    overflow: hidden;
    .conRowIcon {
      font-size: 100px;
      color: $primary-blue;
      margin-top: 10px;
      margin-left: 70px;
      padding: 20px;
      // opacity: 0.4;
      border: 6px solid $primary-blue;
      border-radius: 100px;
      //Responsive
      @include Tablet {
        margin-left: 50px;
      }
    }
    .conTextContain {
      height: 130px;
      background-color: #fff;
      h3 {
        font-size: 30px;
        font-weight: lighter;
        color: $primary-text;
        text-transform: capitalize;
        border-top: 4px solid $primary-orange;
        margin-top: 30px;
        padding-top: 10px;
        padding-left: 20px;
      }
      p {
        font-size: 18px;
        font-weight: lighter;
        color: $primary-text;
        width: 240px;
        padding-top: 4px;
        padding-left: 20px;
      }
    }
  }
  .blockOne,
  .blockTwo,
  .blockThree {
    opacity: 0;
  }
}
//Best Care section
.bestCareContain {
  height: auto;
  width: 100%;
  margin-top: -160px;
  //Responsive
  @include lgMobile {
    margin-top: -860px;
  }
  #bestCareContent {
    height: 70vh;
    width: 70%;
    margin-top: 40px;
    margin-left: 220px;
    @include Display(row, center, center);
    //Responsive
    @include lgLaptop {
      margin-left: 170px;
    }
    @include Laptop {
      margin-left: 160px;
    }
    @include Tablet {
      margin-left: 120px;
    }
    @include lgMobile {
      margin-left: 90px;
    }
    @include Mobile {
      margin-left: 70px;
    }
    .careList {
      background-color: #fff;
      border: 4px solid #f5f5f5;
      height: 100%;
      width: 50%;
      box-shadow: -2px 2px 10px #30303092;
      //Responsive
      @include Mobile {
        width: 100%;
      }
    }
    .bestCareIntro {
      padding-top: 60px;
      padding-left: 60px;
      //Responsive
      @include Laptop {
        padding-left: 0px;
      }
      @include Tablet {
        padding-top: 40px;
      }
      @include Mobile {
        padding-top: 70px;
      }
      h1 {
        font-size: 28px;
        font-weight: $global-weight;
        text-transform: capitalize;
        color: $primary-text;
        text-align: center;
        //Responsive
        @include Laptop {
          font-size: 24px;
        }
        @include Tablet {
          font-size: 20px;
        }
      }
    }
  }
  .numberSpace {
    @include Display(row, unset, unset);
    padding-top: 30px;
  }
  .listNum {
    padding-right: 10px;
    h2 {
      font-size: 30px;
      color: $primary-orange;
    }
  }
  .listContent {
    width: 90%;
    h3 {
      font-size: 22px;
      font-weight: $global-weight;
      color: $primary-text;
      text-transform: capitalize;
      //Responsive
      @include Tablet {
        font-size: 20px;
      }
    }
    p {
      @include Tablet {
        font-size: 14px;
      }
    }
  }
  .bestCarePhoto {
    height: 70vh;
    width: 50%;
    @include Mobile {
      display: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}
//Trusted CareGivers
#quickMesContain {
  @include Background(url(../img/img12.jpeg));
  height: 40vh;
  width: 100%;
  margin-top: 60px;
}
.mesText {
  padding-top: 100px;
  text-align: center;
  h1 {
    font-size: 30px;
    font-weight: $global-weight;
    color: $button-text;
    text-transform: capitalize;
  }
  p {
    font-size: 18px;
    width: 100%;
    color: $button-text;
  }
}
.mesLink {
  margin-top: 20px;
  a {
    font-size: 18px;
    font-weight: $global-weight;
    text-transform: capitalize;
    color: $button-text;
    background-color: $primary-orange;
    padding: $Btn;
    transition: $global-Trans;
  }
  a:hover {
    @include btnEffect;
  }
}
//About Silent Care
.aboutTitle {
  text-align: center;
  margin-top: 60px;
  h1 {
    font-size: 30px;
    font-weight: $global-weight;
    color: $primary-text;
    text-transform: capitalize;
  }
}
//Link Row
.linkRow {
  @include Display(row, space-evenly, center);
  width: 600px;
  margin-top: 20px;
  margin-left: 410px;
  //Responsive
  @include lgLaptop {
    margin-left: 300px;
  }
  @include Laptop {
    margin-left: 220px;
  }
  @include Tablet {
    margin-left: 80px;
  }
  @include lgMobile {
    margin-left: 0px;
  }
  @include Mobile {
    @include Display(row, unset, center);
    margin-left: 12px;
    width: 96%;
  }
  h3 {
    font-size: 20px;
    font-weight: $global-weight;
    color: $primary-text;
    text-transform: capitalize;
    transition: $global-Trans;
    cursor: pointer;
    @include Mobile {
      font-size: 15px;
      padding-left: 10px;
    }
  }
  h3:hover {
    color: $primary-orange;
  }
}
.linkContent {
  height: auto;
  width: 100%;
}
#aboutus,
#ourapproach,
#weoffer,
#wework {
  height: 70vh;
  width: 70%;
  margin-top: 40px;
  margin-left: 220px;
  @include Display(row, center, center);
  //Responsive
  @include lgLaptop {
    margin-left: 170px;
  }
  @include Laptop {
    margin-left: 160px;
  }
  @include Tablet {
    margin-left: 110px;
  }
  @include lgMobile {
    margin-left: 90px;
  }
  @include Mobile {
    margin-left: 60px;
  }
}
//Hidden Class
.hidden {
  display: none !important;
}
.linkContentPhto {
  height: 70vh;
  width: 50%;
  //Responsive
  @include Mobile {
    display: none;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
.aboutUsText {
  height: 70vh;
  width: 50%;
  padding-top: 80px;
  padding-left: 10px;
  text-align: center;
  background-color: white;
  border: 4px solid #f5f5f5;
  box-shadow: 2px 2px 10px #30303092;
  //Responsive
  @include Laptop {
    padding-top: 40px;
  }
  @include Mobile {
    width: 100%;
  }
  h2 {
    font-size: 24px;
    font-weight: $global-weight;
    text-transform: capitalize;
    //Responsive
    @include Laptop {
      font-size: 20px;
    }
  }
  .aboutDesc {
    font-size: 18px;
    font-weight: $global-weight;
    color: $primary-text;
    padding-top: 30px;
    margin-left: 15px;
    width: 90%;
    //Responsive
    @include Laptop {
      font-size: 17px;
    }
    @include Tablet {
      font-size: 14px;
    }
  }
  .aboutDesc2 {
    font-size: 18px;
    font-weight: $global-weight;
    color: $primary-text;
    padding-top: 30px;
    margin-left: 15px;
    width: 90%;
    //Responsive
    @include Laptop {
      font-size: 17px;
    }
    @include Tablet {
      font-size: 14px;
    }
  }
  .moreInfobtn {
    margin-top: 50px;
    a {
      font-size: 18px;
      font-weight: $global-weight;
      color: $button-text;
      padding: $Btn;
      background-color: $primary-orange;
      transition: $global-Trans;
    }
    a:hover {
      @include btnEffect;
    }
  }
}
//ASL section
#aslShowcase {
  @include Background(url(../img/yellow.jpeg));
  background-position: top;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  margin-top: 60px;
  //Responsive
  @include Mobile {
    background-attachment: unset;
    height: 40vh;
  }
}
.aslContent {
  float: right;
  padding-top: 140px;
  padding-right: 60px;
  //Responsive
  @include Tablet {
    padding-right: 10px;
  }
  @include Mobile {
    float: none;
    padding: 160px 0 0 30px;
  }
  h1 {
    font-size: 40px;
    font-weight: lighter;
    color: $button-text;
    text-transform: capitalize;
    //Responsive
    @include Laptop {
      font-size: 30px;
    }
    @include Tablet {
      font-size: 24px;
    }
    @include Mobile {
      font-size: 18px;
    }
  }
  p {
    font-size: 20px;
    font-weight: $global-weight;
    width: 500px;
    color: $button-text;
    //Responsive
    @include Tablet {
      font-size: 17px;
      width: 300px;
    }
    @include Mobile {
      font-size: 14px;
    }
  }
  .aslMoreBtn {
    margin-top: 20px;
    a {
      background-color: $primary-orange;
      padding: $Btn;
      font-size: 18px;
      font-weight: $global-weight;
      color: $button-text;
      transition: $global-Trans;
    }
    a:hover {
      @include btnEffect;
    }
  }
}
#homeContact {
  height: 70vh;
  width: 100%;
  margin-bottom: 60px;
}
.hmeMap {
  height: 100%;
  width: 70%;
  @include Display(row, center, center);
  margin-top: 60px;
  margin-left: 220px;
  //Responsive
  @include lgLaptop {
    margin-left: 170px;
  }
  @include Tablet {
    margin-left: 110px;
  }
  @include lgMobile {
    margin-left: 90px;
  }
  @include Mobile {
    margin-left: 70px;
  }
  #mapLoc {
    height: 100%;
    width: 50%;
    //Responsive
    @include Mobile {
      display: none;
    }
  }
  .contactInfo {
    padding-top: 60px;
    text-align: center;
    height: 100%;
    width: 50%;
    background-color: white;
    border: 4px solid #f5f5f5;
    box-shadow: 2px 2px 10px #30303092;
    //Responsive
    @include Mobile {
      width: 100%;
    }
  }
  .contactList {
    .contactTitle {
      font-size: 30px;
      font-weight: $global-weight;
      color: $primary-orange;
      text-transform: capitalize;
      width: 100%;
      text-align: center;
    }
    .contactFlex {
      padding-top: 40px;
      @include Display(column, unset, unset);
      h3 {
        font-size: 24px;
        #contactIcon {
          padding-right: 10px;
        }
      }
      p,
      a {
        font-size: 18px;
        font-weight: $global-weight;
        color: $primary-text;
        width: 100%;
        text-align: center;
      }
    }
  }
}
