.portContainer {
  width: 90%;
  @include Display(row, space-evenly, unset);
  margin-top: 60px;
  margin-left: 70px;
  //Responsive
  @include lgLaptop {
    margin-left: 20px;
  }
  @include lgLaptop {
    margin-left: 50px;
  }
  @include Tablet {
    margin-left: 40px;
  }
  @include Mobile {
    @include Display(column, unset, unset);
    margin-left: 16px;
  }
}
.postPhto {
  overflow: hidden;
  img {
    width: 50vw;
    height: 50vh;
    transition: 0.6s;
    //Responsive
    @include Mobile {
      width: 100%;
    }
  }
  img:hover {
    transform: scale(1.1);
  }
}
.portContent {
  padding-top: 30px;
  width: 50vw;
  //Responsive
  @include Mobile {
    width: 100%;
  }
  .portTitle {
    font-family: $primary-font;
    font-size: 30px;
    text-transform: capitalize;
    color: $primary-orange;
    //Responsive
    @include Mobile {
      text-align: center;
    }
  }
  .paraBlockOne,
  .paraBlockTwo {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    //Responsive
    @include Mobile {
      width: 100%;
      text-align: center;
    }
  }
  .ownerQuoteBlock {
    height: 20vh;
    width: 50vw;
    background-color: $primary-orange;
    text-align: center;
    //Responsive
    @include Mobile {
      width: 100%;
    }
    .ownerQuote {
      font-size: 24px;
      color: white;
      font-weight: lighter;
      text-transform: capitalize;
      width: 70%;
      margin-left: 120px;
      padding-top: 50px;
      //Responsive
      @include Tablet {
        margin-left: 50px;
        padding-top: 30px;
      }
      @include lgMobile {
        font-size: 20px;
        margin-left: 44px;
      }
      @include Mobile {
        margin-left: 60px;
        font-size: 24px;
      }
    }
  }
}
.rightNav {
  width: 35vw;
  //Responsive
  @include Mobile {
    width: 100%;
  }
  .servIcons {
    height: 50vh;
    width: 35vw;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 50% 50%;
    //Responsive
    @include Mobile {
      width: 100%;
      margin-left: 6px;
    }
    .icon {
      border: 1px solid $primary-orange;
      text-align: center;
      .gridIcon {
        font-size: 50px;
        padding-top: 40px;
        color: $primary-blue;
        transition: 0.6s;
      }
      .gridIcon:hover {
        color: $primary-orange;
        transform: scale(1.1);
      }
    }
  }
  .mreServices {
    height: 50vh;
    width: 100%;
    .servThumbnail {
      transition: 0.7s;
      //Responsive
      @include Tablet {
        padding-top: 20px;
      }
      .thumbLink {
        @include Display(row, space-evenly, unset);
        margin-top: 30px;
        @include Mobile {
          @include Display(column, unset, unset);
          text-align: center;
          margin-left: 10px;
        }
        img {
          height: 7vh;
          width: 5vw;
          //Responsive
          @include Mobile {
            width: 100%;
            height: 20vh;
          }
        }
        .servMiniDesc {
          font-size: 18px;
          font-weight: 500;
          color: $primary-text;
          width: 90%;
          padding-left: 8px;
          //Responsive
          @include Mobile {
            padding-left: 30px;
          }
        }
      }
    }
    .servThumbnail:hover {
      transform: scale(1.1);
    }
  }
  .visitUs {
    height: 10vh;
    width: 100%;
    text-align: center;
    background-color: #f5f5f5;
    //Responsive
    @include Tablet {
      margin-top: 130px;
    }
    @include lgMobile {
      margin-top: 200px;
    }
    @include Mobile {
      margin-top: 740px;
      margin-left: 9px;
    }
    h2 {
      font-size: 30px;
      font-weight: lighter;
      text-transform: capitalize;
      padding-top: 15px;
      //Responsive
      @include Tablet {
        font-size: 20px;
        padding-top: 30px;
      }
    }
  }
  #asideMap {
    height: 35vh;
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
    //Responsive
    @include Tablet {
      height: 54vh;
    }
    @include Mobile {
      margin-left: 9px;
    }
  }
}
