.serviceContain {
  text-align: center;
  .serviceIntro {
    font-size: 30px;
    font-weight: $global-weight;
    text-transform: capitalize;
    color: $primary-text;
    padding-top: 40px;
    //Responsive
    @include Mobile {
      font-size: 24px;
    }
  }
  .mainServiceDes {
    font-size: 17px;
    font-weight: $global-weight;
    width: 50%;
    margin-top: 10px;
    margin-left: 360px;
    //Responsive
    @include lgLaptop {
      width: 60%;
      margin-left: 240px;
    }
    @include Laptop {
      margin-left: 190px;
    }
    @include Tablet {
      margin-left: 120px;
      width: 70%;
    }
    @include lgMobile {
      width: 90%;
      margin-left: 30px;
    }
    @include Mobile {
      width: 90%;
      margin-left: 30px;
      font-size: 14px;
    }
  }
  .fa-comment {
    font-size: 30px;
    color: $primary-orange;
    padding-top: 10px;
  }
  a {
    font-size: 20px;
    font-weight: $global-weight;
    color: $primary-text;
    padding-left: 10px;
  }
  a:hover {
    color: $primary-blue;
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 40px;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 30px;
  //Responsive
  @include lgLaptop {
    margin-left: 0px;
  }
  @include Laptop {
    margin-left: 30px;
  }
  @include Tablet {
    grid-template-columns: auto auto;
    margin-left: 60px;
  }
  @include lgLaptop {
    margin-left: 0px;
  }
  @include Mobile {
    @include Display(column, space-evenly, center);
    margin-left: 0px;
  }
}
.serviceType {
  height: 300px;
  width: 400px;
  transition: $global-Trans;
  z-index: 99;
  overflow: hidden;
  background-color: white;
  border: 2px solid $backColor;
  #gridPhto {
    height: 220px;
    width: 400px;
    transition: $global-Trans;
  }
  #gridPhto:hover {
    transform: scale(1.1);
  }
  // Service type blue responsive
  @include Laptop {
    width: 300px;
  }
  @include Mobile {
    margin-top: 20px;
  }
}
.serviceContentContain {
  @include Display(row, space-evenly, unset);
  .serviceTitle {
    font-size: 20px;
    font-weight: $global-weight;
    text-transform: capitalize;
    color: $primary-text;
    text-align: left;
    padding-top: 16px;
    padding-left: 10px;
    //Responsive
    @include Laptop {
      font-size: 18px;
    }
  }
}
.serviceLinks {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  //Responsive
  @include Laptop {
    margin-left: 0px;
  }
  a {
    font-size: 18px;
    font-weight: $global-weight;
    color: $button-text;
    background-color: $primary-orange;
    transition: $global-Trans;
    padding: $Btn;
    //Responsive
    @include Laptop {
      padding: 6px;
      font-size: 16px;
    }
  }
  a:hover {
    @include btnEffect;
  }
}
