.serviceContain {
  text-align: center;
  .serviceIntro {
    font-size: 30px;
    font-weight: $global-weight;
    text-transform: capitalize;
    color: $primary-text;
    padding-top: 40px;
  }
  .mainServiceDes {
    font-size: 17px;
    font-weight: $global-weight;
    width: 650px;
    margin-top: 10px;
    margin-left: 400px;
    //Responsive
    @include Laptop {
      margin-left: 250px;
    }
    @include Tablet {
      margin-left: 120px;
    }
    @include Mobile {
      width: 390px;
      margin-left: 10px;
    }
  }
  .fa-comment {
    font-size: 30px;
    color: $primary-orange;
    padding-top: 10px;
  }
  a {
    font-size: 20px;
    font-weight: $global-weight;
    color: $primary-text;
    padding-left: 10px;
  }
  a:hover {
    color: $primary-blue;
  }
}
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 40px;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 30px;
  //Responsive
  @include Laptop {
    margin-left: 30px;
  }
  @include Tablet {
    grid-template-columns: auto auto;
    margin-left: 60px;
  }
  @include Mobile {
    @include Display(column, space-evenly, center);
    margin-left: 0px;
  }
}
.serviceType {
  width: 400px;
  transition: $global-Trans;
  z-index: 99;
  overflow-x: hidden;
  background-color: $backColor;
  border: 2px solid $backColor;
  #gridPhto {
    height: 220px;
    width: 400px;
    transition: $global-Trans;
  }
  #gridPhto:hover {
    transform: scale(1.1);
  }
  // Service type blue responsive
  @include Laptop {
    width: 300px;
  }
  @include Mobile {
    margin-top: 20px;
  }
}
.serviceContentContain {
  .serviceTitle {
    font-size: 26px;
    font-weight: $global-weight;
    text-transform: capitalize;
    color: $primary-text;
    text-align: left;
    padding-left: 10px;
  }
  .serviceSubtext {
    font-size: 17px;
    font-weight: $global-weight;
    padding-left: 10px;
    text-align: left;
    width: 380px;
  }
}
.serviceLinks {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  a {
    font-size: 18px;
    font-weight: $global-weight;
    color: $button-text;
    background-color: $primary-orange;
    transition: $global-Trans;
    padding: $Btn;
  }
  a:hover {
    @include btnEffect;
  }
  // Service Links responsive
  @include Laptop {
    margin-left: 90px;
  }
}
