//Typography
$primary-font: "Open Sans", sans-serif;
$global-weight: lighter;

//Text Colors
$primary-text: #303030;
$button-text: #e7e7e7;

//Primary-Colors
$primary-orange: #ff4500;
$primary-blue: #00a2e8;

//Element Background grey
$backColor: #e7e7e7;

//Btn Padding
$Btn: 10px 20px 10px 20px;

//Transition time
$global-Trans: 0.6s;
//global Opacity
$prim-opacity: 0;
